Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

data-sync:
  stage: data-sync
  trigger:
    include:
    - artifact: .child-data-sync.yml
      job: prepare

ddclient:
  stage: ddclient
  trigger:
    include:
    - artifact: .child-ddclient.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mariadb-galera:
  stage: mariadb-galera
  trigger:
    include:
    - artifact: .child-mariadb-galera.yml
      job: prepare

mysqldump:
  stage: mysqldump
  trigger:
    include:
    - artifact: .child-mysqldump.yml
      job: prepare

mythtv-backend:
  stage: mythtv-backend
  trigger:
    include:
    - artifact: .child-mythtv-backend.yml
      job: prepare

nagios:
  stage: nagios
  trigger:
    include:
    - artifact: .child-nagios.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

openldap:
  stage: openldap
  trigger:
    include:
    - artifact: .child-openldap.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

samba-dc:
  stage: samba-dc
  trigger:
    include:
    - artifact: .child-samba-dc.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

weewx:
  stage: weewx
  trigger:
    include:
    - artifact: .child-weewx.yml
      job: prepare

SYS-699 add lightweight msmtp agent; add BIND_IP option for garage (#302)
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/network/tasks/msmtp.yml
  images/data-sync/helm/values.yaml
  k8s/Makefile
  k8s/Makefile.vars
  k8s/helm/grafana/values.yaml
  k8s/helm/headscale/values.yaml
  k8s/install/rsyslog-ext.yaml
  services/garage/docker-compose.yml
Due: none

SYS-701 Image updates for September
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagios/README.md
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/subcharts/valkey/Chart.yaml
  k8s/helm/immich/subcharts/valkey/values.yaml
Due: dhcpd-dns-pxe, dovecot, haproxy-keepalived, nagios, nut-upsd, postfix, openldap, postfix-python

SYS-701 Image updates for September (#304)
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagios/README.md
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/subcharts/valkey/Chart.yaml
  k8s/helm/immich/subcharts/valkey/values.yaml
Due: dhcpd-dns-pxe, dovecot, haproxy-keepalived, nagios, nut-upsd, postfix, openldap, postfix-python

SYS-701 work-around for docker-in-docker pipeline regression
  .gitlab-ci.yml
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 wip
  .gitlab-ci.yml
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 wip
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 wip
  .image-gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 wip
  lib/build/Makefile.docker_image
Due: none

SYS-701 pipeline broke after docker buildx 0.30.1 fully deprecated on gitlab (#306)
  .image-gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 more docker buildx headaches
  .image-gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 still resolving docker buildx pipeline failure (#307)
  .image-gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 all alpine dockerfiles updated
  images/data-sync/Dockerfile
  images/ddclient/Dockerfile
  images/dhcpd-dns-pxe/Dockerfile
  images/dovecot/Dockerfile
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
  images/mariadb-galera/Dockerfile
  images/mysqldump/Dockerfile
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/openldap/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/rsyslogd/Dockerfile
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/udp-nginx-proxy/Dockerfile
  images/vsftpd/Dockerfile
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
Due: data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, udp-nginx-proxy, vsftpd, weewx

SYS-701 wip
  .image-gitlab-ci.yml
  ansible/requirements.txt
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 all alpine dockerfiles updated (#308)
  .image-gitlab-ci.yml
  ansible/requirements.txt
  images/data-sync/Dockerfile
  images/ddclient/Dockerfile
  images/dhcpd-dns-pxe/Dockerfile
  images/dovecot/Dockerfile
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
  images/mariadb-galera/Dockerfile
  images/mysqldump/Dockerfile
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/openldap/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/rsyslogd/Dockerfile
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/udp-nginx-proxy/Dockerfile
  images/vsftpd/Dockerfile
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-701 vulnerability pruning for remaining images
  images/git-pull/hooks/add_tags
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/weewx/Dockerfile
Due: nagios, nagiosql, samba, samba-dc, weewx

SYS-701 vulnerability pruning for remaining images (#309)
  images/git-pull/hooks/add_tags
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/weewx/Dockerfile
Due: nagios, nagiosql, samba, samba-dc, weewx

SYS-701 samba and weewx tedium
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/weewx/Dockerfile
Due: samba, samba-dc, weewx

SYS-701 samba and weewx tedium (#310)
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/weewx/Dockerfile
Due: samba, samba-dc, weewx

SYS-701 switch ansible to deb822_repository; fix nagios image
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/network/tasks/tailscale.yml
  ansible/roles/users/tasks/packages.yml
  images/nagios/entrypoint.sh
  images/samba-dc/helm/Chart.yaml
  images/samba/helm/Chart.yaml
Due: nagios

SYS-701 wip
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/network/tasks/tailscale.yml
  ansible/roles/users/tasks/packages.yml
Due: none

SYS-701 switch ansible to deb822_repository; fix nagios image (#311)
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/network/tasks/tailscale.yml
  ansible/roles/users/tasks/packages.yml
  images/nagios/entrypoint.sh
  images/samba-dc/helm/Chart.yaml
  images/samba/helm/Chart.yaml
Due: nagios

SYS-673 bump a couple helm charts, stabilize ingress for http streaming
  ansible/roles/users/tasks/packages.yml
  k8s/Makefile
  k8s/Makefile.versions
  k8s/helm/headscale/Chart.yaml
  k8s/helm/headscale/values.yaml
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/values.yaml
Due: none

SYS-673 bump a couple helm charts, stabilize ingress for http streaming (#312)
  ansible/roles/users/tasks/packages.yml
  k8s/Makefile
  k8s/Makefile.versions
  k8s/helm/headscale/Chart.yaml
  k8s/helm/headscale/values.yaml
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/values.yaml
Due: none

SYS-673 envoy gateway wip
  k8s/helm/infra/templates/cert-manager.yaml
  k8s/helm/infra/templates/gateway.yaml
  k8s/helm/infra/values.yaml
Due: none

SYS-673 envoy gateway wip
  .github/workflows/release.yaml
Due: none

SYS-673 envoy gateway wip
  .github/workflows/release.yaml
  images/squirrelmail/helm/Chart.yaml
Due: none

SYS-673 envoy gateway wip
  images/squirrelmail/helm/Chart.yaml
Due: none

SYS-673 wip
  .github/workflows/release.yaml
  images/squirrelmail/helm/Chart.yaml
Due: none

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
