Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

data-sync:
  stage: data-sync
  trigger:
    include:
    - artifact: .child-data-sync.yml
      job: prepare

ddclient:
  stage: ddclient
  trigger:
    include:
    - artifact: .child-ddclient.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mariadb-galera:
  stage: mariadb-galera
  trigger:
    include:
    - artifact: .child-mariadb-galera.yml
      job: prepare

mt-daapd:
  stage: mt-daapd
  trigger:
    include:
    - artifact: .child-mt-daapd.yml
      job: prepare

mysqldump:
  stage: mysqldump
  trigger:
    include:
    - artifact: .child-mysqldump.yml
      job: prepare

mythtv-backend:
  stage: mythtv-backend
  trigger:
    include:
    - artifact: .child-mythtv-backend.yml
      job: prepare

nagios:
  stage: nagios
  trigger:
    include:
    - artifact: .child-nagios.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

openldap:
  stage: openldap
  trigger:
    include:
    - artifact: .child-openldap.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare

python-wsgi:
  stage: python-wsgi
  trigger:
    include:
    - artifact: .child-python-wsgi.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

samba-dc:
  stage: samba-dc
  trigger:
    include:
    - artifact: .child-samba-dc.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

SYS-633 haproxy-keepalived; helm charts gitea, guacamole, vaultwarden
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
Due: haproxy-keepalived

SYS-633 dovecot version
  images/dovecot/helm/Chart.yaml
Due: none

Sys 633 myth ansible (#182)
  ansible/roles/mythfrontend/templates/setup.sh.j2
  ansible/roles/volumes/defaults/main.yml
  ansible/roles/volumes/tasks/main.yml
  ansible/roles/volumes/tasks/swap.yml
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
  k8s/volumes/videos.yaml
Due: haproxy-keepalived, samba-dc

SYS-636 housecleaning - ansible and helm
  ansible/Makefile
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/monitoring_agent/files/plugins/check_ethtool.pl
  ansible/roles/monitoring_agent/files/plugins/check_ping.sh
  ansible/roles/monitoring_agent/tasks/packages.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/netplan.yml
  images/mysqldump/helm/values.yaml
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/nut-upsd/entrypoint.sh
  images/weewx/helm/values.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/install/k8s-backup.yaml
Due: nut-upsd

SYS-636 housecleaning - ansible and helm (#184)
  ansible/Makefile
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/monitoring_agent/files/plugins/check_ethtool.pl
  ansible/roles/monitoring_agent/files/plugins/check_ping.sh
  ansible/roles/monitoring_agent/tasks/packages.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/netplan.yml
  images/mysqldump/helm/values.yaml
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/nut-upsd/entrypoint.sh
  images/weewx/helm/values.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/install/k8s-backup.yaml
Due: nut-upsd

SYS-638 fix weewx startup, add antiAffinity to a few charts
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/values.yaml
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/values.yaml
  images/postfix-python/helm/Chart.yaml
  images/postfix-python/helm/values.yaml
  images/weewx/Dockerfile
  images/weewx/README.md
  images/weewx/entrypoint.sh
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
Due: weewx

SYS-638 fix weewx startup, add antiAffinity to a few charts (#185)
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/values.yaml
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/values.yaml
  images/postfix-python/helm/Chart.yaml
  images/postfix-python/helm/values.yaml
  images/weewx/Dockerfile
  images/weewx/README.md
  images/weewx/entrypoint.sh
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
Due: weewx

SYS-642 minio support, and new restic version
  README.md
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/fileserver/tasks/virtualbox.yml
  images/weewx/helm/values.yaml
  k8s/helm/instances/restic-minio
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  services/minio/docker-compose.yml
  ssl/Makefile
  ssl/gencerts.py
  stacks/services/Makefile
Due: none

SYS-642 minio support, and new restic version (#186)
  README.md
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/fileserver/tasks/virtualbox.yml
  images/weewx/helm/values.yaml
  k8s/helm/instances/restic-minio
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  services/minio/docker-compose.yml
  ssl/Makefile
  ssl/gencerts.py
  stacks/services/Makefile
Due: none

SYS-642 minio and restic fixes
  README.md
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/volumes/backup-ios.yaml
  services/minio/docker-compose.yml
Due: none

SYS-642 minio and restic fixes (#187)
  README.md
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/volumes/backup-ios.yaml
  services/minio/docker-compose.yml
Due: none

SYS-645 helm chart for synapse
  README.md
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/synapse/.helmignore
  k8s/helm/synapse/Chart.yaml
  k8s/helm/synapse/subcharts/admin/.helmignore
  k8s/helm/synapse/subcharts/admin/Chart.yaml
  k8s/helm/synapse/subcharts/admin/templates/NOTES.txt
  k8s/helm/synapse/subcharts/admin/templates/app.yaml
  k8s/helm/synapse/subcharts/admin/templates/tests/test-connection.yaml
  k8s/helm/synapse/subcharts/admin/values.yaml
  k8s/helm/synapse/subcharts/element/.helmignore
  k8s/helm/synapse/subcharts/element/Chart.yaml
  k8s/helm/synapse/subcharts/element/templates/NOTES.txt
  k8s/helm/synapse/subcharts/element/templates/app.yaml
  k8s/helm/synapse/subcharts/element/templates/configmap.yaml
  k8s/helm/synapse/subcharts/element/templates/tests/test-connection.yaml
  k8s/helm/synapse/subcharts/element/values.yaml
  k8s/helm/synapse/subcharts/mysql/.helmignore
  k8s/helm/synapse/subcharts/mysql/Chart.yaml
  k8s/helm/synapse/subcharts/mysql/templates/NOTES.txt
  k8s/helm/synapse/subcharts/mysql/templates/app.yaml
  k8s/helm/synapse/subcharts/mysql/templates/tests/test-connection.yaml
  k8s/helm/synapse/subcharts/mysql/values.yaml
  k8s/helm/synapse/subcharts/postgres/.helmignore
  k8s/helm/synapse/subcharts/postgres/Chart.yaml
  k8s/helm/synapse/subcharts/postgres/templates/NOTES.txt
  k8s/helm/synapse/subcharts/postgres/templates/app.yaml
  k8s/helm/synapse/subcharts/postgres/templates/cronjob.yaml
  k8s/helm/synapse/subcharts/postgres/templates/tests/test-connection.yaml
  k8s/helm/synapse/subcharts/postgres/values.yaml
  k8s/helm/synapse/templates/NOTES.txt
  k8s/helm/synapse/templates/app.yaml
  k8s/helm/synapse/templates/configmap.yaml
  k8s/helm/synapse/templates/ingress.yaml
  k8s/helm/synapse/templates/tests/test-connection.yaml
  k8s/helm/synapse/values.yaml
  k8s/volumes/backup-ios.yaml
Due: none

SYS-645 wip
  README.md
  k8s/helm/synapse/subcharts/mysql/.helmignore
  k8s/helm/synapse/subcharts/mysql/Chart.yaml
  k8s/helm/synapse/subcharts/mysql/templates/NOTES.txt
  k8s/helm/synapse/subcharts/mysql/templates/app.yaml
  k8s/helm/synapse/subcharts/mysql/templates/tests/test-connection.yaml
  k8s/helm/synapse/subcharts/mysql/values.yaml
Due: none

SYS-645 wip
  k8s/helm/synapse/subcharts/admin/values.yaml
Due: none

SYS-645 helm chart for synapse (#188)
  README.md
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/synapse/.helmignore
  k8s/helm/synapse/Chart.yaml
  k8s/helm/synapse/subcharts/admin/.helmignore
  k8s/helm/synapse/subcharts/admin/Chart.yaml
  k8s/helm/synapse/subcharts/admin/templates/NOTES.txt
  k8s/helm/synapse/subcharts/admin/templates/app.yaml
  k8s/helm/synapse/subcharts/admin/templates/tests/test-connection.yaml
  k8s/helm/synapse/subcharts/admin/values.yaml
  k8s/helm/synapse/subcharts/element/.helmignore
  k8s/helm/synapse/subcharts/element/Chart.yaml
  k8s/helm/synapse/subcharts/element/templates/NOTES.txt
  k8s/helm/synapse/subcharts/element/templates/app.yaml
  k8s/helm/synapse/subcharts/element/templates/configmap.yaml
  k8s/helm/synapse/subcharts/element/templates/tests/test-connection.yaml
  k8s/helm/synapse/subcharts/element/values.yaml
  k8s/helm/synapse/subcharts/postgres/.helmignore
  k8s/helm/synapse/subcharts/postgres/Chart.yaml
  k8s/helm/synapse/subcharts/postgres/templates/NOTES.txt
  k8s/helm/synapse/subcharts/postgres/templates/app.yaml
  k8s/helm/synapse/subcharts/postgres/templates/cronjob.yaml
  k8s/helm/synapse/subcharts/postgres/templates/tests/test-connection.yaml
  k8s/helm/synapse/subcharts/postgres/values.yaml
  k8s/helm/synapse/templates/NOTES.txt
  k8s/helm/synapse/templates/app.yaml
  k8s/helm/synapse/templates/configmap.yaml
  k8s/helm/synapse/templates/ingress.yaml
  k8s/helm/synapse/templates/tests/test-connection.yaml
  k8s/helm/synapse/values.yaml
  k8s/volumes/backup-ios.yaml
Due: none

Issue #189 retire DSA keys from proftpd image
  images/proftpd/Dockerfile
  images/proftpd/entrypoint.sh
  images/proftpd/helm/Chart.yaml
Due: proftpd

Issue #189 retire DSA keys from proftpd image (#190)
  images/proftpd/Dockerfile
  images/proftpd/entrypoint.sh
  images/proftpd/helm/Chart.yaml
Due: proftpd

SYS-647 image updates - mysqldump, postfix, spamassassin, udp-nginx-proxy, vsftpd
  README.md
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/spamassassin/Dockerfile
  images/spamassassin/helm/Chart.yaml
  images/spamassassin/helm/values.yaml
  images/udp-nginx-proxy/Dockerfile
  images/vsftpd/Dockerfile
Due: mysqldump, postfix, postfix-python, spamassassin, udp-nginx-proxy, vsftpd

SYS-647_updates
  images/spamassassin/helm/values.yaml
Due: none

SYS-647 image updates - mysqldump, postfix, spamassassin, udp-nginx-proxy, vsftpd (#191)
  README.md
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/spamassassin/Dockerfile
  images/spamassassin/helm/Chart.yaml
  images/udp-nginx-proxy/Dockerfile
  images/vsftpd/Dockerfile
Due: mysqldump, postfix, postfix-python, spamassassin, udp-nginx-proxy, vsftpd

SYS-647 updates - haproxy-keepalived, spamassassin, udp-nginx-proxy
  .image-gitlab-ci.yml
  images/haproxy-keepalived/Dockerfile
  images/spamassassin/Dockerfile
  images/spamassassin/helm/values.yaml
  images/udp-nginx-proxy/Dockerfile
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-647 updates - haproxy-keepalived, spamassassin, udp-nginx-proxy (#192)
  .image-gitlab-ci.yml
  images/haproxy-keepalived/Dockerfile
  images/spamassassin/Dockerfile
  images/spamassassin/helm/values.yaml
  images/udp-nginx-proxy/Dockerfile
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-647 mythtv-backend update, and tweaks to trivyignore
  .image-gitlab-ci.yml
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/wxcam-upload/Dockerfile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-647 wip
  images/wxcam-upload/helm/Chart.yaml
Due: none

SYS-647 wip
  images/mythtv-backend/helm/Chart.yaml
Due: none

SYS-647 update haproxy-keepalived, wxcam-upload, mythtv-backend (#193)
  .image-gitlab-ci.yml
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/wxcam-upload/Dockerfile
  images/wxcam-upload/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-647 adjust hook script to publish spamassassin
  images/spamassassin/hooks/add_tags
Due: none

SYS-647 adjust hook script to publish spamassassin (#194)
  images/spamassassin/hooks/add_tags
Due: none

SYS-647 bump spamassassin
  images/spamassassin/README.md
Due: spamassassin

SYS-647 bump spamassassin (#195)
  images/spamassassin/README.md
Due: spamassassin

SYS-648 k8sudo script to lock down k8s admin.conf
  ansible/roles/monitoring_agent/files/plugins/check-file-exists
  k8s/README.md
  k8s/scripts/k8sudo
Due: none

SYS-648 k8sudo wip
  k8s/README.md
  k8s/scripts/k8sudo
Due: none

SYS-648 k8sudo script to lock down k8s admin.conf (#196)
  ansible/roles/monitoring_agent/files/plugins/check-file-exists
  k8s/README.md
  k8s/scripts/k8sudo
Due: none

SYS-647 security update for nagiosql, add milter to spamassassin
  .image-gitlab-ci.yml
  images/nagiosql/Dockerfile
  images/nagiosql/README.md
  images/nagiosql/entrypoint.sh
  images/spamassassin/Dockerfile
  images/spamassassin/helm/values.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-647 security update for nagiosql, add milter to spamassassin (#197)
  .image-gitlab-ci.yml
  images/nagiosql/Dockerfile
  images/nagiosql/README.md
  images/nagiosql/entrypoint.sh
  images/spamassassin/Dockerfile
  images/spamassassin/helm/values.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

Issue #189 - adjust proftpd to omit DSA key
  images/proftpd/entrypoint.sh
Due: proftpd

Issue #189 - adjust proftpd to omit DSA key (#198)
  images/proftpd/entrypoint.sh
Due: proftpd

SYS-650 bump versions - helm charts authelia, gitea, nextcloud, restic, splunk, vaultwarden
  ansible/roles/kubernetes/defaults/main.yml
  k8s/helm-deprecated/artifactory/Chart.yaml
  k8s/helm-deprecated/artifactory/templates/NOTES.txt
  k8s/helm-deprecated/artifactory/templates/app.yaml
  k8s/helm-deprecated/artifactory/templates/tests/test-connection.yaml
  k8s/helm-deprecated/artifactory/values.yaml
  k8s/helm-deprecated/gitlab-runner/.helmignore
  k8s/helm-deprecated/gitlab-runner/Chart.yaml
  k8s/helm-deprecated/gitlab-runner/templates/NOTES.txt
  k8s/helm-deprecated/gitlab-runner/templates/app.yaml
  k8s/helm-deprecated/gitlab-runner/templates/tests/test-connection.yaml
  k8s/helm-deprecated/gitlab-runner/values.yaml
  k8s/helm-deprecated/gitlab/.helmignore
  k8s/helm-deprecated/gitlab/Chart.yaml
  k8s/helm-deprecated/gitlab/subcharts/postgres/.helmignore
  k8s/helm-deprecated/gitlab/subcharts/postgres/Chart.yaml
  k8s/helm-deprecated/gitlab/subcharts/postgres/templates/NOTES.txt
  k8s/helm-deprecated/gitlab/subcharts/postgres/templates/app.yaml
  k8s/helm-deprecated/gitlab/subcharts/postgres/templates/tests/test-connection.yaml
  k8s/helm-deprecated/gitlab/subcharts/postgres/values.yaml
  k8s/helm-deprecated/gitlab/templates/NOTES.txt
  k8s/helm-deprecated/gitlab/templates/app.yaml
  k8s/helm-deprecated/gitlab/templates/configmap.yaml
  k8s/helm-deprecated/gitlab/templates/service-nodeport.yaml
  k8s/helm-deprecated/gitlab/templates/tests/test-connection.yaml
  k8s/helm-deprecated/gitlab/values.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
  k8s/helm/vaultwarden/values.yaml
Due: none

SYS-650 etcd
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
Due: none

SYS-650 bump versions - helm charts authelia, gitea, nextcloud, restic et al (#199)
  ansible/roles/kubernetes/defaults/main.yml
  k8s/helm-deprecated/artifactory/Chart.yaml
  k8s/helm-deprecated/artifactory/templates/NOTES.txt
  k8s/helm-deprecated/artifactory/templates/app.yaml
  k8s/helm-deprecated/artifactory/templates/tests/test-connection.yaml
  k8s/helm-deprecated/artifactory/values.yaml
  k8s/helm-deprecated/gitlab-runner/.helmignore
  k8s/helm-deprecated/gitlab-runner/Chart.yaml
  k8s/helm-deprecated/gitlab-runner/templates/NOTES.txt
  k8s/helm-deprecated/gitlab-runner/templates/app.yaml
  k8s/helm-deprecated/gitlab-runner/templates/tests/test-connection.yaml
  k8s/helm-deprecated/gitlab-runner/values.yaml
  k8s/helm-deprecated/gitlab/.helmignore
  k8s/helm-deprecated/gitlab/Chart.yaml
  k8s/helm-deprecated/gitlab/subcharts/postgres/.helmignore
  k8s/helm-deprecated/gitlab/subcharts/postgres/Chart.yaml
  k8s/helm-deprecated/gitlab/subcharts/postgres/templates/NOTES.txt
  k8s/helm-deprecated/gitlab/subcharts/postgres/templates/app.yaml
  k8s/helm-deprecated/gitlab/subcharts/postgres/templates/tests/test-connection.yaml
  k8s/helm-deprecated/gitlab/subcharts/postgres/values.yaml
  k8s/helm-deprecated/gitlab/templates/NOTES.txt
  k8s/helm-deprecated/gitlab/templates/app.yaml
  k8s/helm-deprecated/gitlab/templates/configmap.yaml
  k8s/helm-deprecated/gitlab/templates/service-nodeport.yaml
  k8s/helm-deprecated/gitlab/templates/tests/test-connection.yaml
  k8s/helm-deprecated/gitlab/values.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
  k8s/helm/vaultwarden/values.yaml
Due: none

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml
