Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

data-sync:
  stage: data-sync
  trigger:
    include:
    - artifact: .child-data-sync.yml
      job: prepare

ddclient:
  stage: ddclient
  trigger:
    include:
    - artifact: .child-ddclient.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mariadb-galera:
  stage: mariadb-galera
  trigger:
    include:
    - artifact: .child-mariadb-galera.yml
      job: prepare

mysqldump:
  stage: mysqldump
  trigger:
    include:
    - artifact: .child-mysqldump.yml
      job: prepare

mythtv-backend:
  stage: mythtv-backend
  trigger:
    include:
    - artifact: .child-mythtv-backend.yml
      job: prepare

nagios:
  stage: nagios
  trigger:
    include:
    - artifact: .child-nagios.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

openldap:
  stage: openldap
  trigger:
    include:
    - artifact: .child-openldap.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

samba-dc:
  stage: samba-dc
  trigger:
    include:
    - artifact: .child-samba-dc.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

weewx:
  stage: weewx
  trigger:
    include:
    - artifact: .child-weewx.yml
      job: prepare

SYS-677 wip
  k8s/helm/immich/values.yaml
Due: none

SYS-677 wip
  k8s/helm/immich/subcharts/postgres/templates/cronjob.yaml
Due: none

SYS-677 wip
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/immich/values.yaml
  k8s/helm/nexus/Chart.yaml
Due: haproxy-keepalived, mysqldump, samba, samba-dc

SYS-677 wip
  .image-gitlab-ci.yml
  images/dhcpd-dns-pxe/Dockerfile
  images/nut-upsd/Dockerfile
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-677 wip
  ansible/roles/volumes/defaults/main.yml
  images/dhcpd-dns-pxe/helm/Chart.yaml
Due: none

fix: unexpected exit when adduser failed in vsftpd image
  images/vsftpd/entrypoint.sh
Due: vsftpd

SYS-694 more image updates for alpine 3.24
  .image-gitlab-ci.yml
  images/ez-ipupdate/Dockerfile
  images/mt-daapd/Dockerfile
  images/mt-daapd/Makefile
  images/mt-daapd/README.md
  images/mt-daapd/docker-compose.yml
  images/mt-daapd/entrypoint.sh
  images/mt-daapd/helm/.helmignore
  images/mt-daapd/helm/Chart.yaml
  images/mt-daapd/helm/templates/NOTES.txt
  images/mt-daapd/helm/templates/app.yaml
  images/mt-daapd/helm/templates/tests/test-connection.yaml
  images/mt-daapd/helm/values.yaml
  images/mt-daapd/hooks/add_tags
  images/mt-daapd/hooks/build
  images/mythtv-backend/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-694 wip
  .image-gitlab-ci.yml
  images/mythtv-backend/Dockerfile
  images/weewx/Dockerfile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-694 wip
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/weewx/helm/Chart.yaml
Due: haproxy-keepalived, mythtv-backend

SYS-694 wip
  images/mythtv-backend/Dockerfile
Due: mythtv-backend

SYS-694 wip
  .image-gitlab-ci.yml
  services/Makefile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-694 more image updates (#284)
  .image-gitlab-ci.yml
  images/ez-ipupdate/Dockerfile
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mt-daapd/Dockerfile
  images/mt-daapd/Makefile
  images/mt-daapd/README.md
  images/mt-daapd/docker-compose.yml
  images/mt-daapd/entrypoint.sh
  images/mt-daapd/helm/.helmignore
  images/mt-daapd/helm/Chart.yaml
  images/mt-daapd/helm/templates/NOTES.txt
  images/mt-daapd/helm/templates/app.yaml
  images/mt-daapd/helm/templates/tests/test-connection.yaml
  images/mt-daapd/helm/values.yaml
  images/mt-daapd/hooks/add_tags
  images/mt-daapd/hooks/build
  images/mythtv-backend/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  services/Makefile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-694 rest of updated images and helm charts
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/helm/Chart.yaml
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/helm/Chart.yaml
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/subcharts/redis/Chart.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/values.yaml
  k8s/helm/restic/values.yaml
  services/Makefile
Due: dovecot, mariadb-galera

SYS-694 rest of updated images and helm charts (#285)
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/helm/Chart.yaml
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/helm/Chart.yaml
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/subcharts/redis/Chart.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/values.yaml
  k8s/helm/restic/values.yaml
  services/Makefile
Due: dovecot, mariadb-galera

SYS-695 add zstd support (for compression) to mysqldump image
  images/mysqldump/Dockerfile
  images/mysqldump/README.md
  images/mysqldump/entrypoint.sh
  images/mysqldump/helm/values.yaml
  images/mysqldump/mysql-backup.sh
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/values.yaml
Due: mysqldump

SYS-695 wip
  images/mysqldump/helm/Chart.yaml
Due: none

SYS-695 wip
  images/mysqldump/README.md
Due: mysqldump

SYS-695 add zstd support (for compression) to mysqldump image (#286)
  images/mysqldump/Dockerfile
  images/mysqldump/README.md
  images/mysqldump/entrypoint.sh
  images/mysqldump/helm/Chart.yaml
  images/mysqldump/helm/values.yaml
  images/mysqldump/mysql-backup.sh
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/values.yaml
Due: mysqldump

SYS-694 fix weewx error message PyMapping_HasKeyString
  images/weewx/Dockerfile
Due: weewx

SYS-694 wip
  ansible/requirements.txt
Due: none

SYS-694 wip
  ansible/roles/bind9/tasks/main.yml
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/docker_node/tasks/packages.yml
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/fileserver/tasks/virtualbox.yml
  ansible/roles/fileserver/templates/smb.conf.j2
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/monitoring_agent/tasks/packages.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/tasks/main.yml
  ansible/roles/users/defaults/main.yml
  ansible/roles/users/tasks/packages.yml
  ansible/roles/volumes/tasks/encrypted.yml
  ansible/roles/volumes/tasks/main.yml
Due: none

SYS-694 fix weewx error message PyMapping_HasKeyString (#287)
  ansible/requirements.txt
  ansible/roles/bind9/tasks/main.yml
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/docker_node/tasks/packages.yml
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/fileserver/tasks/virtualbox.yml
  ansible/roles/fileserver/templates/smb.conf.j2
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/monitoring_agent/tasks/packages.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/tasks/main.yml
  ansible/roles/users/defaults/main.yml
  ansible/roles/users/tasks/packages.yml
  ansible/roles/volumes/tasks/encrypted.yml
  ansible/roles/volumes/tasks/main.yml
  images/weewx/Dockerfile
Due: weewx

SYS-664 add mariadb subchart for jira sunset
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  k8s/helm/jira/subcharts/mariadb/.helmignore
  k8s/helm/jira/subcharts/mariadb/Chart.yaml
  k8s/helm/jira/subcharts/mariadb/templates/NOTES.txt
  k8s/helm/jira/subcharts/mariadb/templates/app.yaml
  k8s/helm/jira/subcharts/mariadb/templates/configmap.yaml
  k8s/helm/jira/subcharts/mariadb/templates/tests/test-connection.yaml
  k8s/helm/jira/subcharts/mariadb/values.yaml
  k8s/helm/jira/values.yaml
Due: none

SYS-664 wip
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  k8s/helm/jira/Chart.yaml
Due: none

SYS-664 add mariadb subchart for jira sunset (#288)
  k8s/helm/jira/subcharts/mariadb/.helmignore
  k8s/helm/jira/subcharts/mariadb/Chart.yaml
  k8s/helm/jira/subcharts/mariadb/templates/NOTES.txt
  k8s/helm/jira/subcharts/mariadb/templates/app.yaml
  k8s/helm/jira/subcharts/mariadb/templates/configmap.yaml
  k8s/helm/jira/subcharts/mariadb/templates/tests/test-connection.yaml
  k8s/helm/jira/subcharts/mariadb/values.yaml
  k8s/helm/jira/values.yaml
Due: none

SYS-677 radicale helm chart - CalDAV / CardDAV server
  ansible/roles/docker_node/tasks/packages.yml
  ansible/roles/kubernetes/tasks/main.yml
  k8s/helm/radicale/.helmignore
  k8s/helm/radicale/Chart.yaml
  k8s/helm/radicale/templates/NOTES.txt
  k8s/helm/radicale/templates/app.yaml
  k8s/helm/radicale/templates/tests/test-connection.yaml
  k8s/helm/radicale/values.yaml
Due: none

SYS-677 wip
  k8s/helm/vaultwarden/Chart.yaml
Due: none

SYS-677 radicale helm chart - CalDAV / CardDAV server (#290)
  ansible/roles/docker_node/tasks/packages.yml
  ansible/roles/kubernetes/tasks/main.yml
  k8s/helm/radicale/.helmignore
  k8s/helm/radicale/Chart.yaml
  k8s/helm/radicale/templates/NOTES.txt
  k8s/helm/radicale/templates/app.yaml
  k8s/helm/radicale/templates/tests/test-connection.yaml
  k8s/helm/radicale/values.yaml
Due: none

SYS-677 apache helm chart with webdav config
  k8s/helm/apache/.helmignore
  k8s/helm/apache/Chart.yaml
  k8s/helm/apache/templates/NOTES.txt
  k8s/helm/apache/templates/app.yaml
  k8s/helm/apache/templates/tests/test-connection.yaml
  k8s/helm/apache/values.yaml
  k8s/helm/instances/webdav
Due: none

SYS-677 wip
  k8s/helm-deprecated/nextcloud/.helmignore
  k8s/helm-deprecated/nextcloud/Chart.yaml
  k8s/helm-deprecated/nextcloud/templates/NOTES.txt
  k8s/helm-deprecated/nextcloud/templates/app.yaml
  k8s/helm-deprecated/nextcloud/templates/configmap.yaml
  k8s/helm-deprecated/nextcloud/templates/redis-deployment.yaml
  k8s/helm-deprecated/nextcloud/templates/redis-service.yaml
  k8s/helm-deprecated/nextcloud/templates/tests/test-connection.yaml
  k8s/helm-deprecated/nextcloud/values.yaml
Due: none

SYS-677 apache helm chart with webdav config (#291)
  k8s/helm-deprecated/nextcloud/.helmignore
  k8s/helm-deprecated/nextcloud/Chart.yaml
  k8s/helm-deprecated/nextcloud/templates/NOTES.txt
  k8s/helm-deprecated/nextcloud/templates/app.yaml
  k8s/helm-deprecated/nextcloud/templates/configmap.yaml
  k8s/helm-deprecated/nextcloud/templates/redis-deployment.yaml
  k8s/helm-deprecated/nextcloud/templates/redis-service.yaml
  k8s/helm-deprecated/nextcloud/templates/tests/test-connection.yaml
  k8s/helm-deprecated/nextcloud/values.yaml
  k8s/helm/apache/.helmignore
  k8s/helm/apache/Chart.yaml
  k8s/helm/apache/templates/NOTES.txt
  k8s/helm/apache/templates/app.yaml
  k8s/helm/apache/templates/tests/test-connection.yaml
  k8s/helm/apache/values.yaml
  k8s/helm/instances/webdav
Due: none

SYS-685 headscale chart for VPN
  k8s/helm/headscale/.helmignore
  k8s/helm/headscale/Chart.yaml
  k8s/helm/headscale/subcharts/headplane/Chart.yaml
  k8s/helm/headscale/subcharts/headplane/templates/NOTES.txt
  k8s/helm/headscale/subcharts/headplane/templates/app.yaml
  k8s/helm/headscale/subcharts/headplane/templates/configmap.yaml
  k8s/helm/headscale/subcharts/headplane/templates/tests/test-connection.yaml
  k8s/helm/headscale/subcharts/headplane/values.yaml
  k8s/helm/headscale/templates/NOTES.txt
  k8s/helm/headscale/templates/app.yaml
  k8s/helm/headscale/templates/tests/test-connection.yaml
  k8s/helm/headscale/values.yaml
Due: none

SYS-685 wip
  README.md
Due: none

SYS-685 wip
  k8s/helm/headscale/subcharts/headplane/templates/configmap.yaml
  k8s/helm/headscale/subcharts/headplane/values.yaml
  k8s/helm/headscale/values.yaml
Due: none

SYS-685 wip
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/network/tasks/tailscale.yml
  k8s/helm/headscale/subcharts/headplane/templates/configmap.yaml
  k8s/helm/headscale/values.yaml
  k8s/helm/instances/restic-remote
Due: none

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
