Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ez-ipupdate, dhcpd-dns-pxe, git-dump, git-pull, postfix, proftpd, python-builder, rsyslogd, samba, vsftpd

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

git-dump:
  stage: git-dump
  trigger:
    include:
    - artifact: .child-git-dump.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

SYS-483 image README updates
  images/blacklist/README.md
  images/data-sync/README.md
  images/davite/README.md
  images/dhcpd-dns-pxe/README.md
  images/dhcpd-dns-pxe/hooks/add_tags
  images/dhcpd-dns-pxe/hooks/post_push
  images/dovecot/README.md
  images/dropbox/README.md
  images/duplicati/README.md
  images/ez-ipupdate/README.md
  images/git-dump/README.md
  images/git-pull/README.md
  images/haproxy-keepalived/README.md
  images/jenkins-master/README.md
  images/jenkins-slave/README.md
  images/mariadb-galera/README.md
  images/mt-daapd/README.md
  images/mysqldump/README.md
  images/mythsuse/README.md
  images/mythtv-backend/README.md
  images/nagiosql/README.md
  images/nut-upsd/README.md
  images/open-xchange-appsuite/README.md
  images/postfix-python/README.md
  images/postfix/README.md
  images/proftpd/README.md
  images/python-builder/README.md
  images/python-wsgi/README.md
  images/rsyslogd/README.md
  images/samba-dc/README.md
  images/samba/README.md
  images/spamassassin/README.md
  images/squirrelmail/README.md
  images/swarm-sync/README.md
  images/udp-nginx-proxy/README.md
  images/vsftpd/README.md
  images/weewx/README.md
  images/wxcam-upload/README.md
Due: ez-ipupdate, dhcpd-dns-pxe, git-dump, git-pull, postfix, proftpd, python-builder, rsyslogd, samba, vsftpd

SYS-483 spamassassin and python-wsgi multi-arch
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  images/python-builder/Dockerfile
  images/python-builder/README.md
  images/python-builder/docker-entrypoint.sh
  images/python-builder/entrypoint.sh
  images/python-builder/requirements.txt
  images/python-wsgi/Dockerfile
  images/python-wsgi/README.md
  images/python-wsgi/requirements.txt
  images/python-wsgi/uwsgi.ini
  images/spamassassin/README.md
  images/spamassassin/hooks/add_tags
  lib/build/Makefile.docker_image
Due: ez-ipupdate, dhcpd-dns-pxe, git-dump, git-pull, postfix, proftpd, python-builder, rsyslogd, samba, vsftpd

SYS-483 python-builder tweaks, add wxcam-upload to multiarch build
  .gitlab-ci.yml
  README.md
  images/python-builder/Dockerfile
  images/python-builder/docker-entrypoint.sh
  images/python-builder/hooks/add_tags
  images/python-wsgi/hooks/add_tags
  images/spamassassin/hooks/add_tags
  images/wxcam-upload/Dockerfile
  images/wxcam-upload/README.md
  images/wxcam-upload/hooks/add_tags
  k8s/Makefile.versions
Due: python-builder

SYS-483 minor multi-arch cleanup
  images/python-builder/Dockerfile
  images/python-wsgi/requirements.txt
  images/spamassassin/Dockerfile
  lib/build/Makefile.docker_image
Due: python-builder

SYS-483 Updated dovecot image
  .gitlab-ci.yml
  images/dovecot/Dockerfile
Due: none

SYS-483 workaround for procmail missing from alpine 3.12
  images/dovecot/Dockerfile
Due: none

SYS-458 Update and document authelia configuration for 4.19.2
  k8s/Makefile.instances
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/authelia.yaml
Due: none

SYS-490 convert more images to multi-arch
  .gitlab-ci.yml
  images/blacklist/Dockerfile
  images/blacklist/README.md
  images/blacklist/hooks/add_tags
  images/blacklist/src/honeypot-ip.py
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/README.md
  images/haproxy-keepalived/hooks/add_tags
  images/mt-daapd/Dockerfile
  images/mt-daapd/README.md
  images/mt-daapd/hooks/add_tags
  images/nagiosql/Dockerfile
  images/nagiosql/README.md
  images/nagiosql/docker-compose.yml
  images/nagiosql/hooks/add_tags
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/hooks/add_tags
  images/open-xchange-appsuite/Dockerfile
  images/postfix-python/src/honeypot-ip.py
  images/udp-nginx-proxy/Dockerfile
  images/udp-nginx-proxy/README.md
  images/udp-nginx-proxy/hooks/add_tags
  k8s/Makefile.versions
  k8s/authelia.yaml
  lib/build/Makefile.docker_image
Due: none

SYS-490 fix regex for tags on blacklist image, fix nagiosql README
  images/blacklist/hooks/add_tags
  images/nagiosql/README.md
Due: none

SYS-490 getting blacklist and nagiosql to publish
  images/blacklist/README.md
  images/nagiosql/Dockerfile
  lib/build/Makefile.docker_image
Due: none

SYS-488 update postfix-python to python3, fix a couple other builds
  .gitlab-ci.yml
  images/blacklist/src/honeypot-ip.py
  images/mt-daapd/Dockerfile
  images/nagiosql/Dockerfile
  images/open-xchange-appsuite/Dockerfile
  images/open-xchange-appsuite/open-xchange.list
  images/postfix-python/Dockerfile
  images/postfix-python/README.md
  images/postfix-python/hooks/add_tags
  images/postfix-python/requirements.txt
  images/postfix-python/requirements/common.txt
  images/postfix-python/src/honeypot-ip.py
  k8s/Makefile.versions
  lib/build/Makefile.docker_image
Due: none

SYS-488 image updates - mt-daapd, nagiosql, open-xchange-appsuite
  images/mt-daapd/Dockerfile
  images/nagiosql/Dockerfile
  images/nagiosql/hooks/add_tags
  images/nagiosql/hooks/post_push
  images/open-xchange-appsuite/Dockerfile
  k8s/Makefile.versions
  lib/build/Makefile.docker_image
Due: none

SYS-490 switch nagiosql to alpine from ubuntu
  images/nagiosql/Dockerfile
  images/nagiosql/Dockerfile.ubuntu
  images/nagiosql/README.md
  images/nagiosql/entrypoint.sh
  images/open-xchange-appsuite/Dockerfile
  images/open-xchange-appsuite/open-xchange.list
Due: none

SYS-490 nagiosql now has all 4 platforms
  images/nagiosql/README.md
  images/nagiosql/entrypoint.sh
  lib/build/Makefile.docker_image
Due: none

SYS-490 nagiosql build adjustment
  images/nagiosql/README.md
  lib/build/Makefile.docker_image
Due: none

SYS-489 update mariadb from 10.3.23 to 10.4.13
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/README.md
  images/mariadb-galera/requirements/test.txt
  images/mariadb-galera/src/entrypoint.py
  k8s/Makefile.instances
  k8s/Makefile.versions
Due: none

SYS-466 mythtv image and ansible role upgrade to v31
  ansible/roles/monitoring_agent/files/plugins/check_disk_status
  ansible/roles/mythfrontend/defaults/main.yml
  ansible/roles/mythfrontend/tasks/debian/lirc.yml
  ansible/roles/mythfrontend/tasks/drivers/intel.yml
  ansible/roles/mythfrontend/tasks/drivers/nvidia.yml
  ansible/roles/mythfrontend/tasks/main.yml
  ansible/roles/mythfrontend/tasks/vars/bionic.yml
  ansible/roles/mythfrontend/tasks/vars/focal.yml
  ansible/roles/mythfrontend/tasks/vars/xenial.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/README.md
  images/mythtv-backend/src/entrypoint.sh
  k8s/Makefile.versions
Due: none

SYS-491 upgrade weewx x86 image to 4.1.1
  .gitlab-ci.yml
  images/mythtv-backend/README.md
  images/python-builder/Dockerfile
  images/weewx/Dockerfile.armhf
  images/weewx/Dockerfile.with_tides
  images/weewx/README.md
  images/weewx/entrypoint.sh
  images/weewx/hooks/add_tags
  images/weewx/install-input.txt
  images/weewx/kubernetes.yaml
  images/weewx/requirements.txt
  images/weewx/requirements/amd64.txt
  images/weewx/requirements/armhf.txt
  services/weewx/docker-compose.yml
Due: python-builder

SYS-495 make multi-arch build for samba-dc
  .gitlab-ci.yml
  images/samba-dc/Dockerfile
  images/samba-dc/README.md
Due: none

SYS-492 fix open-xchange image and adjust nut-upsd / rsyslogd
  images/nut-upsd/Dockerfile
  images/open-xchange-appsuite/Dockerfile.7.10.2
  images/open-xchange-appsuite/README.md
  images/open-xchange-appsuite/docker-compose.yml
  images/open-xchange-appsuite/entrypoint.sh
  images/open-xchange-appsuite/kubernetes.yaml
  images/open-xchange-appsuite/open-xchange.conf
  images/open-xchange-appsuite/open-xchange.list
  images/rsyslogd/kubernetes.yaml
Due: rsyslogd

SYS-496 image mythtv-backend needs xmltv and sudo; fixed a typo in open-xchange-appsuite
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/README.md
  images/open-xchange-appsuite/kubernetes.yaml
Due: none

SYS-493 version updates and README tweaks
  images/jenkins-master/README.md
  images/mysqldump/README.md
  images/mythtv-backend/Dockerfile
  images/open-xchange-appsuite/Dockerfile
  images/proftpd/Dockerfile
  k8s/Makefile.versions
Due: proftpd

SYS-462 restore weewx uploads to wunderground
  images/weewx/Dockerfile
  images/weewx/README.md
  images/weewx/docker-compose.yml
  images/weewx/entrypoint.sh
  images/wxcam-upload/README.md
  images/wxcam-upload/entrypoint-wx.sh
  images/wxcam-upload/kubernetes.yaml
  images/wxcam-upload/wx_upload.sh
  services/weewx/docker-compose.yml
Due: none

SYS-500 update mariadb-galera to 10.4.14
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/kubernetes-single.yaml
  k8s/Makefile.vars
  k8s/Makefile.versions
Due: none

SYS-505 image updates for Sep 2020
  images/dovecot/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/python-builder/requirements.txt
  images/python-wsgi/requirements.txt
  images/samba-dc/Dockerfile
  images/samba-dc/README.md
  images/samba-dc/docker-compose.yml
  images/samba-dc/entrypoint.sh
  images/samba/Dockerfile
  images/wxcam-upload/Dockerfile
  k8s/Makefile.versions
  k8s/authelia.yaml
  k8s/ingress-nginx.yaml
  k8s/install/namespace-user.yaml
Due: postfix, proftpd, python-builder, samba

SYS-505 dependency updates for python-builder / python-wsgi
  images/python-builder/Dockerfile
  images/python-builder/requirements.txt
  images/python-wsgi/Dockerfile
  images/python-wsgi/requirements.txt
Due: python-builder

SYS-487 postgresql-operator from CrunchyData
  README.md
  images/python-builder/requirements.txt
  k8s/Makefile
  k8s/Makefile.pgo
  k8s/Makefile.versions
  k8s/gitlab.yaml
Due: python-builder

SYS-506 weewx fixes - more env var settings, kubernetes.yaml, README updates
  images/weewx/Dockerfile
  images/weewx/README.md
  images/weewx/docker-compose.yml
  images/weewx/entrypoint.sh
  images/weewx/kubernetes.yaml
  services/weewx/docker-compose.yml
  stacks/services/Makefile
Due: none

SYS-469 restic backups in place of duplicati
  README.md
  images/rsyslogd/kubernetes.yaml
  k8s/Makefile.versions
  k8s/restic.yaml
  k8s/volumes/restic-cache.yaml
  services/restic-server/docker-compose.yml
  stacks/services/Makefile
Due: rsyslogd

include libmyth-python in the mythtv-backend build
  images/mythtv-backend/Dockerfile
Due: none

SYS-506 Davis Instruments 7210 AQI support in weewx
  images/weewx/Dockerfile
  images/weewx/docker-compose.yml
  images/weewx/entrypoint.sh
  images/weewx/kubernetes.yaml
  images/weewx/requirements.txt
  k8s/Makefile.vars
Due: none

SYS-506 updated airlink and weegreen dependencies for weewx
  images/weewx/Dockerfile
  images/weewx/README.md
Due: none

SYS-469 more restic tweaks, upgrade mythbackend
  images/duplicati/README.md
  images/mariadb-galera/kubernetes-single.yaml
  images/mythtv-backend/Dockerfile
  k8s/README.md
  k8s/restic.yaml
Due: none

include libmyth-python in the mythtv-backend build (#47)
  images/mythtv-backend/Dockerfile
Due: none

SYS-507 update mythtv-backend again (upstream bug), make posters writeable
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/kubernetes-ha.yaml
  images/mythtv-backend/kubernetes.yaml
  k8s/Makefile.versions
  k8s/volumes/mythtv.yaml
Due: none

SYS-506 adjusted weewx for AQI color display; upgrade mariadb-galera to 10.4.15
  images/mariadb-galera/Dockerfile
  images/weewx/Dockerfile
  images/weewx/README.md
  k8s/Makefile.versions
Due: none

SYS-469 nagios monitoring for restic
  ansible/roles/monitoring_agent/files/plugins/check_file_age_multi.sh
  images/weewx/kubernetes.yaml
  k8s/restic.yaml
Due: none

Issue #37 - update openx-appsuite image to 7.10.4
  images/nagiosql/docker-compose.yml
  images/open-xchange-appsuite/Dockerfile
Due: none

SYS-508 new check_drive_health nagios plugin
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/monitoring_agent/files/plugins/check_drive_health.py
  ansible/roles/monitoring_agent/files/plugins/check_file_age_multi.sh
  ansible/roles/monitoring_agent/tasks/main.yml
  ansible/roles/monitoring_agent/tasks/packages.yml
  ansible/roles/monitoring_agent/templates/tolerations.j2
  k8s/restic.yaml
Due: none

Path conditions:
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  git-dump: any of: images/git-dump/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
