Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml

SYS-630 fix ingress definition for external-hosted monitor.ci.net
  k8s/Makefile.vars
  k8s/helm-skip/artifactory/.helmignore
  k8s/helm-skip/authelia/.helmignore
  k8s/install/monitor.yaml
Due: none

SYS-630 fix ingress definition for external-hosted monitor.ci.net (#200)
  k8s/Makefile.vars
  k8s/helm-skip/artifactory/.helmignore
  k8s/helm-skip/authelia/.helmignore
  k8s/install/monitor.yaml
Due: none

SYS-641 mythtv image updated to 35.0
  ansible/roles/mythfrontend/defaults/main.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/README.md
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/mythtv-backend/src/entrypoint.sh
  images/rsyslogd/helm/values.yaml
  k8s/scripts/k8sudo
Due: mythtv-backend

SYS-641 mythtv image updated to 35.0 (#201)
  ansible/roles/mythfrontend/defaults/main.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/README.md
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/mythtv-backend/src/entrypoint.sh
  images/rsyslogd/helm/values.yaml
  k8s/scripts/k8sudo
Due: mythtv-backend

SYS-651 kubernetes v1.32.4 and minor housekeeping
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  k8s/helm/gitea/values.yaml
  k8s/helm/restic/values.yaml
  k8s/install/monitor.yaml
Due: none

SYS-651 kubernetes v1.32.4 and minor housekeeping (#202)
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  k8s/helm/gitea/values.yaml
  k8s/helm/restic/values.yaml
  k8s/install/monitor.yaml
Due: none

SYS-652 Grafana helm chart, with prometheus and alertmanager
  README.md
  ansible/roles/monitoring_agent/defaults/main.yml
  k8s/Makefile
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/helm/grafana/.helmignore
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/alertmanager/.helmignore
  k8s/helm/grafana/subcharts/alertmanager/Chart.yaml
  k8s/helm/grafana/subcharts/alertmanager/templates/NOTES.txt
  k8s/helm/grafana/subcharts/alertmanager/templates/app.yaml
  k8s/helm/grafana/subcharts/alertmanager/templates/tests/test-connection.yaml
  k8s/helm/grafana/subcharts/alertmanager/values.yaml
  k8s/helm/grafana/subcharts/prometheus/.helmignore
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/templates/NOTES.txt
  k8s/helm/grafana/subcharts/prometheus/templates/app.yaml
  k8s/helm/grafana/subcharts/prometheus/templates/tests/test-connection.yaml
  k8s/helm/grafana/subcharts/prometheus/values.yaml
  k8s/helm/grafana/templates/NOTES.txt
  k8s/helm/grafana/templates/app.yaml
  k8s/helm/grafana/templates/tests/test-connection.yaml
  k8s/helm/grafana/values.yaml
  k8s/install/prometheus-rbac.yaml
Due: none

SYS-652 Grafana wip
  k8s/helm/grafana/subcharts/prometheus/values.yaml
Due: none

SYS-652 Grafana helm chart, with prometheus and alertmanager (#203)
  README.md
  ansible/roles/monitoring_agent/defaults/main.yml
  k8s/Makefile
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/helm/grafana/.helmignore
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/alertmanager/.helmignore
  k8s/helm/grafana/subcharts/alertmanager/Chart.yaml
  k8s/helm/grafana/subcharts/alertmanager/templates/NOTES.txt
  k8s/helm/grafana/subcharts/alertmanager/templates/app.yaml
  k8s/helm/grafana/subcharts/alertmanager/templates/tests/test-connection.yaml
  k8s/helm/grafana/subcharts/alertmanager/values.yaml
  k8s/helm/grafana/subcharts/prometheus/.helmignore
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/templates/NOTES.txt
  k8s/helm/grafana/subcharts/prometheus/templates/app.yaml
  k8s/helm/grafana/subcharts/prometheus/templates/tests/test-connection.yaml
  k8s/helm/grafana/subcharts/prometheus/values.yaml
  k8s/helm/grafana/templates/NOTES.txt
  k8s/helm/grafana/templates/app.yaml
  k8s/helm/grafana/templates/tests/test-connection.yaml
  k8s/helm/grafana/values.yaml
  k8s/install/prometheus-rbac.yaml
Due: none

SYS-652 miscellaneous fixes
  ansible/roles/volumes/handlers/main.yml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/values.yaml
  k8s/helm/restic/values.yaml
Due: none

SYS-652 miscellaneous fixes (#204)
  ansible/roles/volumes/handlers/main.yml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/values.yaml
  k8s/helm/restic/values.yaml
Due: none

SYS-653 update ansible bind9 role's root.hints
  ansible/roles/bind9/defaults/main.yml
  ansible/roles/bind9/tasks/main.yml
  ansible/roles/bind9/templates/root.hint.j2
Due: none

SYS-653 wip
  ansible/roles/bind9/defaults/main.yml
Due: none

SYS-653 update ansible bind9 role's root.hints (#205)
  ansible/roles/bind9/defaults/main.yml
  ansible/roles/bind9/tasks/main.yml
  ansible/roles/bind9/templates/root.hint.j2
Due: none

SYS-654 image updates for alpine 3.22
  images/data-sync/Dockerfile
  images/ddclient/Dockerfile
  images/ddclient/helm/Chart.yaml
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/openldap/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/vsftpd/Dockerfile
Due: data-sync, ddclient, ez-ipupdate, git-pull, mysqldump, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, vsftpd

SYS-654 image updates for alpine 3.22 (#207)
  images/data-sync/Dockerfile
  images/ddclient/Dockerfile
  images/ddclient/helm/Chart.yaml
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/openldap/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/vsftpd/Dockerfile
Due: data-sync, ddclient, ez-ipupdate, git-pull, mysqldump, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, vsftpd

SYS-654 more image and helm updates
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/values.yaml
  k8s/helm/grafana/values.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
Due: dovecot, haproxy-keepalived, mythtv-backend, postfix-python, samba, samba-dc

SYS-654 more image and helm updates (#208)
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/values.yaml
  k8s/helm/grafana/values.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
Due: dovecot, haproxy-keepalived, mythtv-backend, postfix-python, samba, samba-dc

SYS-654 fix updated dovecot build
  images/dovecot/Dockerfile
Due: dovecot

SYS-654 fix updated dovecot build (#209)
  images/dovecot/Dockerfile
Due: dovecot

Start container with tini
  images/nut-upsd/Dockerfile
  images/nut-upsd/Dockerfile.arm32
  images/nut-upsd/Dockerfile.arm64
Due: nut-upsd

SYS-658 remove faulty intel GPU driver for mythtv frontend
  ansible/roles/mythfrontend/defaults/main.yml
  ansible/roles/mythfrontend/tasks/drivers/intel.yml
Due: none

SYS-660 fix broken ddclient image
  images/ddclient/Dockerfile
Due: ddclient

SYS-658 remove faulty intel GPU driver for mythtv frontend (#215)
  ansible/roles/mythfrontend/defaults/main.yml
  ansible/roles/mythfrontend/tasks/drivers/intel.yml
Due: none

SYS-660 fix broken ddclient image (#214)
  images/ddclient/Dockerfile
Due: ddclient

SYS-654 image updates - git, haproxy-keepalived, mythtv, postfix
  images/ddclient/README.md
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
Due: ddclient, git-pull, haproxy-keepalived, mythtv-backend, postfix, postfix-python

SYS-654 image updates - git, haproxy-keepalived, mythtv, postfix (#216)
  images/ddclient/README.md
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
Due: ddclient, git-pull, haproxy-keepalived, mythtv-backend, postfix, postfix-python

SYS-657 use built-in TOTP for guacamole, instead of Authelia
  k8s/helm/guacamole/subcharts/guacamole-server/values.yaml
  k8s/helm/guacamole/values.yaml
Due: none

SYS-657 wip
  k8s/helm/guacamole/values.yaml
Due: none

SYS-657 use built-in TOTP for guacamole, instead of Authelia (#218)
  k8s/helm/guacamole/subcharts/guacamole-server/values.yaml
  k8s/helm/guacamole/values.yaml
Due: none

SYS-661 bump ingress-nginx from 1.11.2 to 1.13.1
  k8s/Makefile
  k8s/Makefile.versions
  k8s/install/ingress-nginx.yaml
Due: none

SYS-661 bump ingress-nginx from 1.11.2 to 1.13.1 (#219)
  k8s/Makefile
  k8s/Makefile.versions
  k8s/install/ingress-nginx.yaml
Due: none

Issue #213 nut-upsd image - version 2.8.3 with ulimit
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

Issue #213 nut-upsd image - version 2.8.3 with ulimit (#220)
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

SYS-662 add node-local-dns cache from kubernetes distro
  k8s/Makefile
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/helm/grafana/subcharts/prometheus/values.yaml
Due: none

SYS-662 wip
  k8s/Makefile.vars
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
Due: none

SYS-662 add node-local-dns cache from kubernetes distro (#223)
  k8s/Makefile
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/values.yaml
Due: none

SYS-663 upgrade kubernetes to 1.34.1
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: none

SYS-663 wip
  k8s/Makefile.versions
Due: none

SYS-663 wip
  README.md
Due: none
