Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml

SYS-671 wip
  ansible/requirements.txt
Due: none

SYS-671 update wordpress helm chart - 6.9.1 (#259)
  README.md
  ansible/requirements.txt
  images/data-sync/helm/values.yaml
  images/mysqldump/README.md
  k8s/Makefile.versions
  k8s/README.md
  k8s/helm/wordpress/Chart.yaml
  k8s/helm/wordpress/values.yaml
Due: mysqldump

SYS-674 MythTV 36.0 update
  ansible/roles/mythfrontend/defaults/main.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/src/entrypoint.sh
  k8s/helm/wordpress/values.yaml
Due: mythtv-backend

SYS-674 MythTV 36.0 update (#260)
  ansible/roles/mythfrontend/defaults/main.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/src/entrypoint.sh
  k8s/helm/wordpress/values.yaml
Due: mythtv-backend

SYS-674 mythtv daily build update
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
Due: mythtv-backend

SYS-674 mythtv daily build update (#261)
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
Due: mythtv-backend

SYS-674 skip an unremediated CVE in mythbackend
  .image-gitlab-ci.yml
  ansible/roles/mythfrontend/defaults/main.yml
  ansible/roles/mythfrontend/tasks/debian/packages.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/mythtv-backend/src/entrypoint.sh
  k8s/Makefile.helm
  k8s/README.md
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-674 skip an unremediated CVE in mythbackend (#262)
  .image-gitlab-ci.yml
  ansible/roles/mythfrontend/defaults/main.yml
  ansible/roles/mythfrontend/tasks/debian/packages.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/mythtv-backend/src/entrypoint.sh
  k8s/Makefile.helm
  k8s/README.md
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-674 helm chart updates for auth protection of mythtv-backend
  images/mythtv-backend/README.md
  images/mythtv-backend/helm/values.yaml
Due: mythtv-backend

SYS-674 wip
  images/mythtv-backend/README.md
  images/mythtv-backend/helm/values.yaml
Due: mythtv-backend

SYS-674 wip
  images/mythtv-backend/helm/Chart.yaml
Due: none

SYS-674 helm chart updates for auth protection of mythtv-backend (#263)
  images/mythtv-backend/README.md
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
Due: mythtv-backend

Add pollonly option to nut-upsd image
  images/nut-upsd/Dockerfile
  images/nut-upsd/Dockerfile.arm32
  images/nut-upsd/Dockerfile.arm64
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

SYS-678 ansible recovery logic; adjust splunk and snappymail charts
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/network/handlers/main.yml
  ansible/roles/network/tasks/sshd.yml
  ansible/roles/volumes/tasks/encrypted.yml
  k8s/helm/snappymail/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/splunk/values.yaml
Due: none

SYS-678 wip
  k8s/helm/snappymail/Chart.yaml
Due: none

SYS-678 ansible recovery logic; adjust splunk and snappymail charts (#269)
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/network/handlers/main.yml
  ansible/roles/network/tasks/sshd.yml
  ansible/roles/volumes/tasks/encrypted.yml
  k8s/helm/snappymail/Chart.yaml
  k8s/helm/snappymail/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/splunk/values.yaml
Due: none

SYS-684 upgrades kubernetes 1.35.3, restic 0.18.1-r5
  ansible/roles/docker_node/handlers/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: none

SYS-684 upgrades kubernetes 1.35.3, restic 0.18.1-r5 (#270)
  ansible/roles/docker_node/handlers/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: none

SYS-686 mythtv-backend image updated for ubuntu 26.04
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
Due: mythtv-backend

SYS-686 mariadb dependencies
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/helm/Chart.yaml
  images/mariadb-galera/requirements/test.txt
Due: mariadb-galera

SYS-686 mythtv-backend and mariadb-galera image updates (#271)
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/helm/Chart.yaml
  images/mariadb-galera/requirements/test.txt
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
Due: mariadb-galera, mythtv-backend

SYS-686 mythtv-backend and mariadb pipeline fixes
  .image-gitlab-ci.yml
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-686 wip
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-686 mythtv-backend and mariadb pipeline fixes (#272)
  .image-gitlab-ci.yml
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-686 minor image updates
  .image-gitlab-ci.yml
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-686 minor image updates (#273)
  .image-gitlab-ci.yml
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-686 vulnerability patches for nut-upsd / dovecot
  images/dovecot/Dockerfile
  images/nut-upsd/Dockerfile
Due: dovecot, nut-upsd

SYS-686 vulnerability patches for nut-upsd / dovecot (#274)
  images/dovecot/Dockerfile
  images/nut-upsd/Dockerfile
Due: dovecot, nut-upsd

SYS-686 add passkey support to authelia helm chart; update nut-upsd and restic
  images/nut-upsd/Dockerfile
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/templates/configmap.yaml
  k8s/helm/authelia/values.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: nut-upsd

SYS-686 add passkey support to authelia helm chart; update nut-upsd and restic (#275)
  images/nut-upsd/Dockerfile
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/templates/configmap.yaml
  k8s/helm/authelia/values.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: nut-upsd

Add pollonly option to nut-upsd image (#265)
  images/nut-upsd/Dockerfile
  images/nut-upsd/Dockerfile.arm32
  images/nut-upsd/Dockerfile.arm64
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

SYS-687 ansible updates for Ubuntu 26.04
  ansible/fileserver-setup.yml
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/fileserver/tasks/instantlinux.yml
  ansible/roles/fileserver/templates/smb.conf.j2
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/join.yml
  ansible/roles/mythfrontend/tasks/debian/packages.yml
  ansible/roles/mythfrontend/tasks/vars/resolute.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/netplan.yml
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/tasks/main.yml
  ansible/roles/ntp/templates/ntp.toml.j2
Due: none

SYS-687 wip
  ansible/requirements.txt
Due: none

SYS-687 ansible updates for Ubuntu 26.04 (#276)
  ansible/fileserver-setup.yml
  ansible/requirements.txt
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/fileserver/tasks/instantlinux.yml
  ansible/roles/fileserver/templates/smb.conf.j2
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/join.yml
  ansible/roles/mythfrontend/tasks/debian/packages.yml
  ansible/roles/mythfrontend/tasks/vars/resolute.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/netplan.yml
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/tasks/main.yml
  ansible/roles/ntp/templates/ntp.toml.j2
Due: none

SYS-687 final updates for Ubuntu 26.04
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/handlers/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/fileserver/tasks/qemu.yml
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/templates/api-crypt.conf.j2
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  ansible/roles/monitoring_agent/files/plugins/check_drive_health.py
  ansible/roles/mythfrontend/tasks/setup.yml
  ansible/roles/mythfrontend/templates/session-settings.j2
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/tasks/main.yml
  images/data-sync/helm/values.yaml
  k8s/Makefile
  k8s/Makefile.sops
  k8s/Makefile.versions
  k8s/install/k8s-backup.yaml
  services/haproxy-keepalived/docker-compose.yml
Due: none

SYS-687 wip
  README.md
  k8s/Makefile.versions
Due: none

SYS-687 final updates for Ubuntu 26.04 (#278)
  README.md
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/handlers/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/fileserver/tasks/qemu.yml
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/templates/api-crypt.conf.j2
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  ansible/roles/monitoring_agent/files/plugins/check_drive_health.py
  ansible/roles/mythfrontend/tasks/setup.yml
  ansible/roles/mythfrontend/templates/session-settings.j2
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/tasks/main.yml
  images/data-sync/helm/values.yaml
  k8s/Makefile
  k8s/Makefile.sops
  k8s/Makefile.versions
  k8s/install/k8s-backup.yaml
  services/haproxy-keepalived/docker-compose.yml
Due: none

SYS-687 device-exclude option for check_drive_health
  ansible/roles/fileserver/tasks/qemu.yml
  ansible/roles/monitoring_agent/files/plugins/check_drive_health.py
  ansible/roles/monitoring_agent/tasks/packages.yml
Due: none

SYS-687 device-exclude option for check_drive_health (#279)
  ansible/roles/fileserver/tasks/qemu.yml
  ansible/roles/monitoring_agent/files/plugins/check_drive_health.py
  ansible/roles/monitoring_agent/tasks/packages.yml
Due: none

SYS-677 immich photo manager
  README.md
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/templates/ntp.toml.j2
  ansible/roles/volumes/defaults/main.yml
  k8s/Makefile.vars
  k8s/README.md
  k8s/helm/immich/.helmignore
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/subcharts/ml/.helmignore
  k8s/helm/immich/subcharts/ml/Chart.yaml
  k8s/helm/immich/subcharts/ml/templates/NOTES.txt
  k8s/helm/immich/subcharts/ml/templates/app.yaml
  k8s/helm/immich/subcharts/ml/templates/tests/test-connection.yaml
  k8s/helm/immich/subcharts/ml/values.yaml
  k8s/helm/immich/subcharts/postgres/.helmignore
  k8s/helm/immich/subcharts/postgres/Chart.yaml
  k8s/helm/immich/subcharts/postgres/templates/NOTES.txt
  k8s/helm/immich/subcharts/postgres/templates/app.yaml
  k8s/helm/immich/subcharts/postgres/templates/cronjob.yaml
  k8s/helm/immich/subcharts/postgres/templates/tests/test-connection.yaml
  k8s/helm/immich/subcharts/postgres/values.yaml
  k8s/helm/immich/subcharts/valkey/.helmignore
  k8s/helm/immich/subcharts/valkey/Chart.yaml
  k8s/helm/immich/subcharts/valkey/templates/NOTES.txt
  k8s/helm/immich/subcharts/valkey/templates/app.yaml
  k8s/helm/immich/subcharts/valkey/templates/tests/test-connection.yaml
  k8s/helm/immich/subcharts/valkey/values.yaml
  k8s/helm/immich/templates/NOTES.txt
  k8s/helm/immich/templates/app.yaml
  k8s/helm/immich/templates/tests/test-connection.yaml
  k8s/helm/immich/values.yaml
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/nextcloud/values.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: none
