Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-dump:
  stage: git-dump
  trigger:
    include:
    - artifact: .child-git-dump.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mt-daapd:
  stage: mt-daapd
  trigger:
    include:
    - artifact: .child-mt-daapd.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare

python-wsgi:
  stage: python-wsgi
  trigger:
    include:
    - artifact: .child-python-wsgi.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

wxcam-upload:
  stage: wxcam-upload
  trigger:
    include:
    - artifact: .child-wxcam-upload.yml
      job: prepare

SYS-570 iterating on replacing lost helm releases
  k8s/helm-foo/data-sync
  k8s/helm/chartlib/Chart.yaml
Due: none

SYS-570 iterating on replacing lost helm releases
  k8s/helm/chartlib/Chart.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

SYS-570 iterating on replacing lost helm releases
  images/data-sync/helm/Chart.yaml
  k8s/helm/data-sync
Due: none

SYS-570 iterating on replacing lost helm releases
  images/data-sync/helm/Chart.yaml
Due: none

SYS-569 Image updates
  images/ddclient/Dockerfile
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
Due: ez-ipupdate, git-dump, git-pull, nagiosql, nut-upsd, postfix, proftpd, python-builder, python-wsgi, rsyslogd, samba

SYS-569 update python-builder and python-wsgi
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

SYS-569 ansible updated for CVE-2021-3583
  ansible/requirements.txt
Due: none

SYS-572 version updates for several images
  images/data-sync/helm/Chart.yaml
  images/data-sync/helm/values.yaml
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/proftpd/helm/Chart.yaml
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/jira/Chart.yaml
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/wordpress/Chart.yaml
Due: dovecot, haproxy-keepalived, postfix-python

SYS-572 postfix 3.6.3-r1 image
  images/postfix/Dockerfile
Due: postfix

SYS-572 dovecot 2.3.17.1-r0 image
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
Due: dovecot

Issue #46 clarify capability requirements for samba-dc
  images/samba-dc/README.md
  images/samba-dc/docker-compose.yml
  images/samba-dc/entrypoint.sh
Due: none

SYS-573 Image updates for Jan 2022
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/samba-dc/README.md
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/templates/configmap.yaml
  k8s/helm/authelia/values.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/jira/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/wordpress/Chart.yaml
Due: dhcpd-dns-pxe, haproxy-keepalived, postfix, postfix-python, python-builder, python-wsgi

SYS-573 update dhcpd-dns-pxe versions
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
Due: dhcpd-dns-pxe

SYS-573 image updates - blacklist, mythtv-backend, spamassassin, udp-nginx-proxy
  images/blacklist/Dockerfile
  images/blacklist/README.md
  images/blacklist/helm/Chart.yaml
  images/blacklist/src/rebuild_rbldns.pl
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/spamassassin/Dockerfile
  images/spamassassin/helm/Chart.yaml
  images/udp-nginx-proxy/Dockerfile
Due: blacklist, spamassassin, udp-nginx-proxy

SYS-573 tweak for unexpected debian-spamd shell change (spamassassin)
  images/spamassassin/Dockerfile
Due: spamassassin

SYS-573 move mythtv-backend build from dockerhub to gitlab
  .gitlab-ci.yml
  images/mythtv-backend/README.md
  lib/build/Makefile.docker_image
Due: none

SYS-573 fix mythtv-backend image push
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/mariadb-galera/hooks/add_tags
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/hooks/add_tags
Due: none

Issue #74 Allow forgoing Docker Secrets
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

Issue #75 Fix local config permissions post-copy
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

SYS-573 fix mythtv-backend image push
  images/mythtv-backend/README.md
Due: none

SYS-573 fix mythtv-backend image push
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/hooks/add_tags
Due: none

SYS-575 py3-pillow 8.4.0-r2 fix for CVE-2022-22815 et al
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-builder/README.md
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/python-wsgi/README.md
Due: python-builder, python-wsgi

SYS-575 py3-pillow 8.4.0-r2 for python-wsgi
  images/python-wsgi/Dockerfile
  images/python-wsgi/README.md
Due: python-wsgi

SYS-557 another pass over the READMEs: busted link
  images/blacklist/README.md
  images/data-sync/README.md
  images/davite/README.md
  images/ddclient/README.md
  images/dhcpd-dns-pxe/README.md
  images/dovecot/README.md
  images/ez-ipupdate/README.md
  images/git-dump/README.md
  images/git-pull/README.md
  images/haproxy-keepalived/README.md
  images/mariadb-galera/README.md
  images/mt-daapd/README.md
  images/mysqldump/README.md
  images/mythtv-backend/README.md
  images/nagios/README.md
  images/nagiosql/README.md
  images/nut-upsd/README.md
  images/postfix-python/README.md
  images/postfix/README.md
  images/proftpd/README.md
  images/python-builder/README.md
  images/python-wsgi/README.md
  images/rsyslogd/README.md
  images/samba-dc/README.md
  images/samba/README.md
  images/spamassassin/README.md
  images/squirrelmail/README.md
  images/udp-nginx-proxy/README.md
  images/vsftpd/README.md
  images/weewx/README.md
  images/wxcam-upload/README.md
Due: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

SYS-556 fix breaking-change in samba cli 4.15.5 update
  images/samba/entrypoint.sh
Due: samba

SYS-000 reduce gitlab logging verbosity
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/gitlab/templates/configmap.yaml
  k8s/helm/gitlab/values.yaml
Due: none

SYS-578 mythtfrontend on ubuntu 21.10
  ansible/roles/mythfrontend/tasks/vars/impish.yml
Due: none

Image fixes for nut and rsyslogd - issues #74 #75 #78
  ansible/roles/mythfrontend/templates/wakeup_at.j2
  images/nut-upsd/entrypoint.sh
  images/rsyslogd/Dockerfile
  images/rsyslogd/entrypoint.sh
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/gitlab/templates/configmap.yaml
Due: nut-upsd, rsyslogd

Version updates - rsyslogd, git-dump, git-pull
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/rsyslogd/helm/Chart.yaml
Due: git-dump, git-pull

No-op to rebuild nut-upsd, git-pull, rsyslogd
  images/git-dump/Dockerfile
  images/nut-upsd/Dockerfile
  images/rsyslogd/Dockerfile
Due: git-dump, nut-upsd, rsyslogd

No-op to rebuild git-pull, rsyslogd
  images/git-pull/Dockerfile
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
Due: git-pull, rsyslogd

Updated fix for #78 - rsyslogd image
  images/rsyslogd/Dockerfile
Due: rsyslogd

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-dump: any of: images/git-dump/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml
