Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml

SYS-663 kubernetes upgrade to 1.34 (#224)
  README.md
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  k8s/Makefile.versions
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: none

Issue #222 fix faulty samba-dc image; improve nut-upsd verbosity parameter
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/docker-compose.yml
  images/nut-upsd/entrypoint.sh
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/values.yaml
  images/samba-dc/Dockerfile
Due: nut-upsd, samba-dc

Issue #222 fix faulty samba-dc image; improve nut-upsd verbosity parameter (#225)
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/docker-compose.yml
  images/nut-upsd/entrypoint.sh
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/values.yaml
  images/samba-dc/Dockerfile
Due: nut-upsd, samba-dc

Allow API_USER to have access to commands (#136)
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

Issue #108 and issue #206 - nut-upsd enhancements
  README.md
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/templates/app.yaml
  images/nut-upsd/helm/values.yaml
Due: nut-upsd

Issue #108 and issue #206 - nut-upsd enhancements (#227)
  README.md
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/templates/app.yaml
  images/nut-upsd/helm/values.yaml
Due: nut-upsd

SYS-477 housekeeping - remove stale images plus ansible update
  README.md
  ansible/ansible.cfg
  ansible/requirements.txt
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/kubernetes/tasks/main.yml
  images/nut-upsd/README.md
  images/python-builder/Dockerfile
  images/python-builder/Jenkinsfile
  images/python-builder/Makefile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-builder/README.md
  images/python-builder/docker-entrypoint.sh
  images/python-builder/entrypoint.sh
  images/python-builder/hooks/add_tags
  images/python-builder/hooks/build
  images/python-builder/hooks/post_push
  images/python-wsgi/Dockerfile
  images/python-wsgi/Jenkinsfile
  images/python-wsgi/Makefile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/python-wsgi/README.md
  images/python-wsgi/entrypoint.sh
  images/python-wsgi/hooks/add_tags
  images/python-wsgi/hooks/build
  images/python-wsgi/hooks/post_push
  images/python-wsgi/uwsgi.ini
  images/samba-dc/README.md
  images/samba-dc/docker-compose.yml
Due: nut-upsd, python-builder, python-wsgi, samba-dc

SYS-477 housekeeping - remove stale images plus ansible update (#229)
  README.md
  ansible/ansible.cfg
  ansible/requirements.txt
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/kubernetes/tasks/main.yml
  images/nut-upsd/README.md
  images/python-builder/Dockerfile
  images/python-builder/Jenkinsfile
  images/python-builder/Makefile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-builder/README.md
  images/python-builder/docker-entrypoint.sh
  images/python-builder/entrypoint.sh
  images/python-builder/hooks/add_tags
  images/python-builder/hooks/build
  images/python-builder/hooks/post_push
  images/python-wsgi/Dockerfile
  images/python-wsgi/Jenkinsfile
  images/python-wsgi/Makefile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/python-wsgi/README.md
  images/python-wsgi/entrypoint.sh
  images/python-wsgi/hooks/add_tags
  images/python-wsgi/hooks/build
  images/python-wsgi/hooks/post_push
  images/python-wsgi/uwsgi.ini
  images/samba-dc/README.md
  images/samba-dc/docker-compose.yml
Due: nut-upsd, python-builder, python-wsgi, samba-dc

SYS-664 mariadb-galera 12.0.2
  ansible/requirements.txt
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/Dockerfile.alpine
  images/mariadb-galera/Makefile
  images/mariadb-galera/README.md
  images/mariadb-galera/helm/Chart.yaml
  images/mariadb-galera/helm/templates/configmap.yaml
  images/mariadb-galera/helm/values.yaml
  images/mariadb-galera/hooks/add_tags
  images/mariadb-galera/my.cnf
  images/mariadb-galera/requirements/common.txt
  images/mariadb-galera/requirements/test.txt
  images/mariadb-galera/src/entrypoint.py
  images/mariadb-galera/src/healthcheck.sh
Due: mariadb-galera

SYS-664 wip
  images/mariadb-galera/Dockerfile
Due: mariadb-galera

SYS-664 mariadb-galera 12.0.2 (#231)
  ansible/requirements.txt
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/Dockerfile.alpine
  images/mariadb-galera/Makefile
  images/mariadb-galera/README.md
  images/mariadb-galera/helm/Chart.yaml
  images/mariadb-galera/helm/templates/configmap.yaml
  images/mariadb-galera/helm/values.yaml
  images/mariadb-galera/hooks/add_tags
  images/mariadb-galera/my.cnf
  images/mariadb-galera/requirements/common.txt
  images/mariadb-galera/requirements/test.txt
  images/mariadb-galera/src/entrypoint.py
  images/mariadb-galera/src/healthcheck.sh
Due: mariadb-galera

SYS-664 fix mariadb makefile
  images/mariadb-galera/Makefile
Due: mariadb-galera

SYS-664 mariadb wip
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mariadb-galera/Dockerfile
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/postfix/Dockerfile
Due: haproxy-keepalived, mariadb-galera, mysqldump, postfix

SYS-664 mariadb wip
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-664 image updates - mariadb-galera, mysqldump, postfix, haproxy-keepalived (#233)
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mariadb-galera/Dockerfile
  images/mariadb-galera/Makefile
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-664 image updates - weewx, mythtv-backend
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
Due: mythtv-backend, weewx

SYS-664 image updates - weewx, mythtv-backend (#234)
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
Due: mythtv-backend, weewx

SYS-664 fix weewx entrypoint
  images/weewx/entrypoint.sh
Due: weewx

SYS-664 fix weewx entrypoint (#235)
  images/weewx/entrypoint.sh
Due: weewx

SYS-666 image and helm chart updates - alpine 3.23
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/ddclient/Dockerfile
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  images/vsftpd/Dockerfile
  images/weewx/Dockerfile
  images/weewx/entrypoint.sh
  k8s/Makefile.versions
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
Due: data-sync, ddclient, ez-ipupdate, git-pull, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, vsftpd, weewx

SYS-666 wip
  ansible/requirements.txt
Due: none

SYS-666 wip
  k8s/Makefile.versions
Due: none

SYS-666 image and helm chart updates - alpine 3.23 (#237)
  ansible/requirements.txt
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/ddclient/Dockerfile
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  images/vsftpd/Dockerfile
  images/weewx/Dockerfile
  k8s/Makefile.versions
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
Due: data-sync, ddclient, ez-ipupdate, git-pull, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, vsftpd, weewx

SYS-666 build-pipeline fixes
  .gitlab-ci.yml
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-666 build-pipeline fixes
  lib/build/Makefile.docker_image
Due: none

SYS-666 update build pipeline dependencies
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-666 breaking-change updates for alpine
  images/git-dump/helm/Chart.yaml
  images/mariadb-galera/Makefile
  images/nagios/Dockerfile
  images/nagios/entrypoint.sh
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  k8s/helm/splunk/values.yaml
Due: mariadb-galera, nagios, rsyslogd

SYS-666 breaking-change updates for alpine (#239)
  images/git-dump/helm/Chart.yaml
  images/mariadb-galera/Makefile
  images/nagios/Dockerfile
  images/nagios/entrypoint.sh
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  k8s/helm/splunk/values.yaml
Due: mariadb-galera, nagios, rsyslogd

SYS-666 fixes - mariadb-galera, nagiosql
  images/mariadb-galera/README.md
  images/nagiosql/Dockerfile
  images/nagiosql/docker-compose.yml
  lib/build/Makefile.docker_image
  services/haproxy-keepalived/docker-compose.yml
  services/keycloak/docker-compose.yml
  services/mythtv-backend/docker-compose.yml
  services/nut-upsd/docker-compose.yml
  services/restic-server/docker-compose.yml
Due: mariadb-galera, nagiosql

SYS-666 wip
  images/data-sync/helm/values.yaml
  images/data-sync/src/common.prf
Due: none

SYS-666 fixes - mariadb-galera, nagiosql (#240)
  images/data-sync/helm/values.yaml
  images/data-sync/src/common.prf
  images/mariadb-galera/README.md
  images/nagiosql/Dockerfile
  images/nagiosql/docker-compose.yml
  lib/build/Makefile.docker_image
  services/haproxy-keepalived/docker-compose.yml
  services/keycloak/docker-compose.yml
  services/mythtv-backend/docker-compose.yml
  services/nut-upsd/docker-compose.yml
  services/restic-server/docker-compose.yml
Due: mariadb-galera, nagiosql

SYS-665 add postgres instance to nexus helm chart
  ansible/roles/kubernetes/tasks/main.yml
  k8s/helm/nexus/subcharts/postgres/.helmignore
  k8s/helm/nexus/subcharts/postgres/Chart.yaml
  k8s/helm/nexus/subcharts/postgres/templates/NOTES.txt
  k8s/helm/nexus/subcharts/postgres/templates/app.yaml
  k8s/helm/nexus/subcharts/postgres/templates/cronjob.yaml
  k8s/helm/nexus/subcharts/postgres/templates/tests/test-connection.yaml
  k8s/helm/nexus/subcharts/postgres/values.yaml
  k8s/helm/nexus/values.yaml
Due: none

SYS-665 add postgres instance to nexus helm chart
  k8s/helm/nexus/values.yaml
Due: none

SYS-641 fix mythtv-backend config.xml template substitution
  images/mythtv-backend/src/entrypoint.sh
Due: none

Issue #242 bump MythTV version
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
Due: mythtv-backend

Issue #242 bump MythTV version (#244)
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
Due: mythtv-backend

SYS-641 fix mythtv-backend config.xml template substitution (#243)
  images/mythtv-backend/src/entrypoint.sh
Due: none

Issue #242 - single-character typo in Dockerfile
  images/mythtv-backend/Dockerfile
Due: mythtv-backend

Issue #242 - single-character typo in Dockerfile (#245)
  images/mythtv-backend/Dockerfile
Due: mythtv-backend
