Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml

SYS-576 python-builder now limited to amd64 platform
  images/python-builder/Dockerfile
  images/python-wsgi/Dockerfile
  lib/build/Makefile.docker_image
Due: python-builder, python-wsgi

SYS-576 workaround kubectl 1.27.4 cve
  images/python-builder/Dockerfile
  images/python-builder/README.md
  images/python-wsgi/README.md
Due: python-builder, python-wsgi

SYS-576 wip
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

SYS-576 helm now updated to 3.11.3-r1
  images/python-builder/Dockerfile
Due: python-builder

SYS-576 more dependency updates for python-builder / python-wsgi
  .image-gitlab-ci.yml
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-576 pick up new cryptography from edge repo for python-builder
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

SYS-576 pick up new cryptography from edge repo for python-builder (#121)
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

SYS-576 bump py3-cryptography
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

Issue #119 - fix NAME parameter in nut-upsd
  images/nut-upsd/Dockerfile
Due: nut-upsd

Issue #119 - fix NAME parameter in nut-upsd (#122)
  images/nut-upsd/Dockerfile
Due: nut-upsd

Issue #86 remove VIP upon stop - haproxy-keepalived
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/docker-compose.yml
  images/haproxy-keepalived/entrypoint.sh
  images/haproxy-keepalived/helm/Chart.yaml
Due: haproxy-keepalived

Issue #86 remove VIP upon stop - haproxy-keepalived (#123)
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/docker-compose.yml
  images/haproxy-keepalived/entrypoint.sh
  images/haproxy-keepalived/helm/Chart.yaml
Due: haproxy-keepalived

Issue #86 fix services/haproxy-keepalived/docker-compose
  services/haproxy-keepalived/docker-compose.yml
Due: none

Issue #86 set stopsignal in haproxy-keepalived image
  .github/PULL_REQUEST_TEMPLATE.md
  images/haproxy-keepalived/Dockerfile
Due: haproxy-keepalived

Issue #86 set stopsignal in haproxy-keepalived image (#124)
  .github/PULL_REQUEST_TEMPLATE.md
  images/haproxy-keepalived/Dockerfile
Due: haproxy-keepalived

Issue #86 wait for termination in haproxy-keepalived
  images/haproxy-keepalived/entrypoint.sh
Due: haproxy-keepalived

Issue #86 wait for termination in haproxy-keepalived (#125)
  images/haproxy-keepalived/entrypoint.sh
Due: haproxy-keepalived

SYS-612 upgrade jira helm chart, add self-signed cert vol mount
  images/python-builder/Dockerfile
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  k8s/helm/jira/Chart.yaml
  k8s/helm/jira/values.yaml
Due: python-builder, python-wsgi

SYS-612 upgrade jira helm chart, add self-signed cert vol mount (#126)
  images/python-builder/Dockerfile
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  k8s/helm/jira/Chart.yaml
  k8s/helm/jira/values.yaml
Due: python-builder, python-wsgi

SYS-576 python-wsgi needed second edge repo
  images/python-wsgi/Dockerfile
Due: python-wsgi

Issue #120 add SERVER_STRING to samba-dc image config
  images/samba-dc/helm/values.yaml
  images/samba-dc/smb.conf.j2
Due: samba-dc

Issue #120 add SERVER_STRING to samba-dc image config (#127)
  images/samba-dc/helm/values.yaml
  images/samba-dc/smb.conf.j2
Due: samba-dc

Issue #79 replace lograte script in rsyslogd; adjust data-sync
  images/data-sync/helm/Chart.yaml
  images/data-sync/helm/values.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/rsyslog-rotate
Due: rsyslogd

Issue #79 replace lograte script in rsyslogd; adjust data-sync (#130)
  images/data-sync/helm/Chart.yaml
  images/data-sync/helm/values.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/rsyslog-rotate
Due: rsyslogd

SYS-607 update for apt keys, drive-health and restic
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/monitoring_agent/files/plugins/check_drive_health.py
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: none

SYS-607 update for apt keys, drive-health and restic (#131)
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/monitoring_agent/files/plugins/check_drive_health.py
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: none

SYS-607 update gitlab helm chart to 16.3.3; tweak ansible for virtualbox
  ansible/roles/fileserver/tasks/virtualbox.yml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/gitlab/templates/configmap.yaml
  k8s/helm/gitlab/values.yaml
Due: none

SYS-607 update gitlab helm chart to 16.3.3; tweak ansible for virtualbox (#132)
  ansible/roles/fileserver/tasks/virtualbox.yml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/gitlab/templates/configmap.yaml
  k8s/helm/gitlab/values.yaml
Due: none

Issue #118 - document security.NTACL for samba-dc
  images/samba-dc/README.md
Due: samba-dc

Allow API_USER to have access to commands
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

SYS-607 updates for postfix, dovecot, samba, udp-nginx, proftpd, haproxy
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  images/udp-nginx-proxy/Dockerfile
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: dovecot, haproxy-keepalived, mythtv-backend, postfix, postfix-python, proftpd, samba, samba-dc, udp-nginx-proxy

SYS-607 updates for postfix, dovecot, samba, udp-nginx, proftpd, haproxy (#137)
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  images/udp-nginx-proxy/Dockerfile
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: dovecot, haproxy-keepalived, mythtv-backend, postfix, postfix-python, proftpd, samba, samba-dc, udp-nginx-proxy

Update Dockerfile nut-upsd
  images/nut-upsd/Dockerfile
Due: nut-upsd

Update Dockerfile nut-upsd (#140)
  images/nut-upsd/Dockerfile
Due: nut-upsd

Issue #119 fix nut-upsd healthcheck, update SSL libs
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/values.yaml
Due: git-pull, nut-upsd

wip
  images/nut-upsd/helm/values.yaml
Due: none

Issue #119 fix nut-upsd healthcheck, update SSL libs (#141)
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/values.yaml
Due: git-pull, nut-upsd

Issue #67 healthcheck improvements, add MAXAGE variable
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/values.yaml
Due: nut-upsd

Issue #67 healthcheck improvements, add MAXAGE variable (#142)
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/values.yaml
Due: nut-upsd
