Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-dump:
  stage: git-dump
  trigger:
    include:
    - artifact: .child-git-dump.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mt-daapd:
  stage: mt-daapd
  trigger:
    include:
    - artifact: .child-mt-daapd.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare

python-wsgi:
  stage: python-wsgi
  trigger:
    include:
    - artifact: .child-python-wsgi.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

wxcam-upload:
  stage: wxcam-upload
  trigger:
    include:
    - artifact: .child-wxcam-upload.yml
      job: prepare

SYS-592 mythtv-backend 32.0-fixes.202301091618.e677dd354f
  ansible/roles/mythfrontend/defaults/main.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/README.md
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/src/entrypoint.sh
Due: none

SYS-592 git 2.38.3-r1
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
Due: git-dump, git-pull

SYS-592 add keycloak service, and a couple of mythbackend items
  ansible/roles/mythfrontend/tasks/vars/jammy.yml
  images/mythtv-backend/README.md
  services/keycloak/docker-compose.yml
  services/mythtv-backend/docker-compose.yml
  services/restic-server/docker-compose.yml
  stacks/services/Makefile
Due: none

Add support for dns forwarders (#96)
  images/samba-dc/README.md
  images/samba-dc/smb.conf.j2
Due: none

Make destination server configurable on ddclient docker entrypoint (#102)
  images/ddclient/entrypoint.sh
Due: none

Adding samba-winbind-clients to enable usage of ntlm_auth (#104)
  images/samba-dc/Dockerfile
Due: none

SYS-596 helm chart updates for third-party images: authelia etcd gitlab nextcloud nexus splunk wordpress
  README.md
  ansible/roles/kubernetes/tasks/master.yml
  images/blacklist/helm/Chart.yaml
  images/blacklist/helm/templates/app.yaml
  images/samba-dc/README.md
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/templates/configmap.yaml
  k8s/helm/authelia/values.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/gitlab/values.yaml
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/nextcloud/values.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/nexus/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/wordpress/Chart.yaml
Due: none

SYS-599 set restart always for local services
  services/keycloak/docker-compose.yml
  services/restic-server/docker-compose.yml
Due: none

SYS-599 improvements to docker startup, and a couple more version updates
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/docker_node/tasks/repos.yml
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/gitlab-runner/Chart.yaml
Due: none

SYS-600 fix authelia helm chart default values; fix for issue #44
  images/samba-dc/entrypoint.sh
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/values.yaml
Due: none

SYS-600 had to bump git-dump to 2.38.4
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/samba-dc/entrypoint.sh
Due: git-dump, git-pull

Actually supports DNS_FORWARDER
  images/samba-dc/Dockerfile
  images/samba-dc/entrypoint.sh
  images/samba-dc/smb.conf.j2
Due: none

Remove unnecessary bloat
  images/samba-dc/Dockerfile
  images/samba-dc/smb.conf.j2
Due: none

samba-dc actually supports DNS_FORWARDER (#106)
  images/samba-dc/Dockerfile
  images/samba-dc/entrypoint.sh
  images/samba-dc/smb.conf.j2
Due: none

SYS-596 issue #107 libusb driver for nut-upsd, plus rename of registry.k8s.io
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/nut-upsd/Dockerfile
  k8s/helm/nextcloud/values.yaml
  k8s/install/ingress-nginx.yaml
  k8s/install/k8s-backup.yaml
Due: git-dump, git-pull, nut-upsd

Issue-111 Add SFTP support to proftpd
  images/proftpd/Dockerfile
  images/proftpd/README.md
  images/proftpd/entrypoint.sh
Due: proftpd

Use SFTP_PORT var instead of hardcoding the port
  images/proftpd/Dockerfile
Due: proftpd

moved package installation to Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/entrypoint.sh
Due: proftpd

improved ssh keys checks and readme update
  images/proftpd/Dockerfile
  images/proftpd/README.md
  images/proftpd/entrypoint.sh
Due: proftpd

issue-111 Add SFTP support to proftpd (#112)
  images/proftpd/Dockerfile
  images/proftpd/README.md
  images/proftpd/entrypoint.sh
Due: proftpd

Adding Dependabot config
  .github/dependabot.yml
Due: none

Adding mythlink download and verification; bumped myth version for ubuntu22.04.1 to point at currently available packages
  images/mythtv-backend/Dockerfile
Due: none

Add libmythtv-perl to mythtv-backend build to make mythlink.pl usable (#55)
  images/mythtv-backend/Dockerfile
Due: none

SYS-607 image updates for Alpine 3.18
  README.md
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/ez-ipupdate/Dockerfile
  images/ez-ipupdate/helm/Chart.yaml
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nut-upsd/Dockerfile
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  images/udp-nginx-proxy/Dockerfile
  images/vsftpd/Dockerfile
  k8s/helm/splunk/Chart.yaml
Due: dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, nut-upsd, postfix, postfix-python, proftpd, rsyslogd, samba, udp-nginx-proxy, vsftpd

SYS-607 updates to nexus, dhcpd-dns-pxe, data-sync, restic
  images/data-sync/Dockerfile
  images/dhcpd-dns-pxe/Dockerfile
  k8s/helm/nexus/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: dhcpd-dns-pxe

SYS-607 update dhcpd-dns-pxe
  images/dhcpd-dns-pxe/Dockerfile
Due: dhcpd-dns-pxe

SYS-607 rebuild mythtv backend
  images/data-sync/helm/values.yaml
  images/mythtv-backend/README.md
Due: none

SYS-607 deal with spamassassin package name change in debian
  images/spamassassin/Dockerfile
Due: spamassassin

SYS-607 update samba, resolve issue #114
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  k8s/helm/gitlab-runner/Chart.yaml
Due: samba

SYS-598 add trivy scan
  .image-gitlab-ci.yml
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
Due: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

SYS-598 add trivy scan (#115)
  .image-gitlab-ci.yml
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
Due: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

SYS-598 improve security of several images using trivy
  README.md
  images/blacklist/Dockerfile
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/nagios/Dockerfile
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/spamassassin/Dockerfile
Due: blacklist, haproxy-keepalived, rsyslogd, spamassassin

SYS-610 upgrade mythtv to version 33
  README.md
  ansible/roles/mythfrontend/defaults/main.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/README.md
  images/mythtv-backend/docker-compose.yml
  images/mythtv-backend/helm/values.yaml
  services/mythtv-backend/docker-compose.yml
Due: none

SYS-610 upgrade mythtv to version 33 (#116)
  README.md
  ansible/roles/mythfrontend/defaults/main.yml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/README.md
  images/mythtv-backend/docker-compose.yml
  images/mythtv-backend/helm/values.yaml
  services/mythtv-backend/docker-compose.yml
Due: none

SYS-610 fix mythtv-backend entrypoint
  images/mythtv-backend/src/entrypoint.sh
Due: none

SYS-610 fix mythtv-backend entrypoint
  images/mythtv-backend/README.md
Due: none

SYS-610 bump mythtv-backend to version fixes.2023-07-28
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
Due: none

SYS-576 use ansible import_tasks in place of include; update python-builder images
  ansible/requirements.txt
  ansible/roles/docker_node/tasks/main.yml
  ansible/roles/docker_node/templates/docker.service.conf.j2
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/monitoring_agent/tasks/main.yml
  ansible/roles/mythfrontend/tasks/main.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/users/tasks/main.yml
  ansible/roles/volumes/tasks/main.yml
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

SYS-576 use ansible import_tasks in place of include; update python-builder images (#117)
  ansible/requirements.txt
  ansible/roles/docker_node/tasks/main.yml
  ansible/roles/docker_node/templates/docker.service.conf.j2
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/monitoring_agent/tasks/main.yml
  ansible/roles/mythfrontend/tasks/main.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/users/tasks/main.yml
  ansible/roles/volumes/tasks/main.yml
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-dump: any of: images/git-dump/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml
