Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

data-sync:
  stage: data-sync
  trigger:
    include:
    - artifact: .child-data-sync.yml
      job: prepare

ddclient:
  stage: ddclient
  trigger:
    include:
    - artifact: .child-ddclient.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mariadb-galera:
  stage: mariadb-galera
  trigger:
    include:
    - artifact: .child-mariadb-galera.yml
      job: prepare

mysqldump:
  stage: mysqldump
  trigger:
    include:
    - artifact: .child-mysqldump.yml
      job: prepare

mythtv-backend:
  stage: mythtv-backend
  trigger:
    include:
    - artifact: .child-mythtv-backend.yml
      job: prepare

nagios:
  stage: nagios
  trigger:
    include:
    - artifact: .child-nagios.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

openldap:
  stage: openldap
  trigger:
    include:
    - artifact: .child-openldap.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

samba-dc:
  stage: samba-dc
  trigger:
    include:
    - artifact: .child-samba-dc.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

weewx:
  stage: weewx
  trigger:
    include:
    - artifact: .child-weewx.yml
      job: prepare

SYS-673 wip
  .github/workflows/release.yaml
  images/squirrelmail/helm/Chart.yaml
Due: none

SYS-673 wip
  images/data-sync/helm/Chart.yaml
  images/squirrelmail/helm/Chart.yaml
Due: none

SYS-673 wip
  .github/workflows/release.yaml
  images/data-sync/helm/Chart.yaml
Due: none

SYS-673 wip
  images/data-sync/helm/Chart.yaml
Due: none

SYS-673 wip
  .github/workflows/release.yaml
Due: none

SYS-683 ingress-nginx wip
  k8s/helm/synapse/Chart.yaml
  k8s/helm/synapse/subcharts/admin/Chart.yaml
  k8s/helm/synapse/subcharts/admin/templates/app.yaml
  k8s/helm/synapse/subcharts/admin/values.yaml
  k8s/helm/synapse/subcharts/element/Chart.yaml
  k8s/helm/synapse/subcharts/element/templates/app.yaml
  k8s/helm/synapse/subcharts/element/values.yaml
  k8s/helm/synapse/subcharts/postgres/Chart.yaml
  k8s/helm/synapse/subcharts/postgres/templates/app.yaml
  k8s/helm/synapse/templates/app.yaml
  k8s/helm/synapse/templates/ingress.yaml
  k8s/helm/synapse/values.yaml
Due: none

SYS-683 ingress-nginx wip
  images/blacklist/helm/Chart.yaml
  images/ddclient/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/ez-ipupdate/helm/Chart.yaml
  images/git-dump/helm/Chart.yaml
  images/git-pull/helm/Chart.yaml
  images/haproxy-keepalived/helm/Chart.yaml
  images/il-v1/helm/Chart.yaml
  images/mariadb-galera/helm/Chart.yaml
  images/mysqldump/helm/Chart.yaml
  images/nut-upsd/helm/Chart.yaml
  images/openldap/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/helm/Chart.yaml
  images/samba/helm/Chart.yaml
  images/spamassassin/helm/Chart.yaml
  images/squirrelmail/helm/Chart.yaml
  images/weewx/helm/Chart.yaml
Due: none

SYS-593 fixes to infra and synapse charts; fix github action for helm publish
  .github/workflows/release.yaml
  k8s/Makefile
  k8s/Makefile.versions
  k8s/helm/infra/Chart.yaml
  k8s/helm/infra/templates/admin-user.yaml
  k8s/helm/infra/templates/cert-manager.yaml
  k8s/helm/infra/templates/gateway.yaml
  k8s/helm/infra/templates/k8s-backup.yaml
  k8s/helm/infra/templates/limits.yaml
  k8s/helm/infra/templates/local-storage.yaml
  k8s/helm/infra/templates/rsyslog-ext.yaml
  k8s/helm/infra/values.yaml
  k8s/helm/synapse/Chart.yaml
  k8s/helm/synapse/subcharts/admin/Chart.yaml
  k8s/helm/synapse/subcharts/admin/values.yaml
  k8s/install/namespace-user.yaml
Due: none

SYS-593 wip
  k8s/install/namespace-user.yaml
Due: none

SYS-593 fixes to infra and synapse charts; fix github action for helm publish (#315)
  .github/workflows/release.yaml
  k8s/Makefile
  k8s/Makefile.versions
  k8s/helm/infra/Chart.yaml
  k8s/helm/infra/templates/admin-user.yaml
  k8s/helm/infra/templates/cert-manager.yaml
  k8s/helm/infra/templates/gateway.yaml
  k8s/helm/infra/templates/k8s-backup.yaml
  k8s/helm/infra/templates/limits.yaml
  k8s/helm/infra/templates/local-storage.yaml
  k8s/helm/infra/templates/rsyslog-ext.yaml
  k8s/helm/infra/values.yaml
  k8s/helm/synapse/Chart.yaml
  k8s/helm/synapse/subcharts/admin/Chart.yaml
  k8s/helm/synapse/subcharts/admin/values.yaml
  k8s/install/namespace-user.yaml
Due: none

SYS-685 disable gateway access logs, fix headscale for gateway
  README.md
  ansible/roles/network/defaults/main.yml
  k8s/README.md
  k8s/helm/apache/Chart.yaml
  k8s/helm/apache/values.yaml
  k8s/helm/headscale/Chart.yaml
  k8s/helm/headscale/templates/gateway-backend.yaml
  k8s/helm/infra/Chart.yaml
  k8s/helm/infra/templates/gateway.yaml
  k8s/helm/infra/values.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/install/namespace-user.yaml
Due: none

SYS-685 wip
  k8s/helm/restic/Chart.yaml
Due: none

SYS-685 disable gateway access logs, fix headscale for gateway (#317)
  README.md
  ansible/roles/network/defaults/main.yml
  k8s/README.md
  k8s/helm/apache/Chart.yaml
  k8s/helm/apache/values.yaml
  k8s/helm/headscale/Chart.yaml
  k8s/helm/headscale/templates/gateway-backend.yaml
  k8s/helm/infra/Chart.yaml
  k8s/helm/infra/templates/gateway.yaml
  k8s/helm/infra/values.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/install/namespace-user.yaml
Due: none

SYS-685 adjust tailscale upgradeType path definitions
  k8s/helm/headscale/Chart.yaml
  k8s/helm/headscale/templates/gateway-backend.yaml
  k8s/helm/headscale/values.yaml
Due: none

SYS-685 adjust tailscale upgradeType path definitions (#318)
  k8s/helm/headscale/Chart.yaml
  k8s/helm/headscale/templates/gateway-backend.yaml
  k8s/helm/headscale/values.yaml
Due: none

SYS-703 repo updater tool
  .gitlab-ci.yml
  README.md
  images/data-sync/helm/values.yaml
  images/haproxy-keepalived/helm/Chart.yaml
  images/haproxy-keepalived/helm/values.yaml
  images/nut-upsd/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/postfix-python/helm/templates/configmap.yaml
  images/weewx/log.conf
  k8s/Makefile
  k8s/Makefile.versions
  k8s/helm/apache/Chart.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/owntone/Chart.yaml
  k8s/helm/radicale/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  lib/build/updater/requirements.txt
  lib/build/updater/updater.py
  services/Makefile
  services/garage/docker-compose.yml
  services/haproxy-keepalived/docker-compose.yml
  services/keycloak/docker-compose.yml
  services/nut-upsd/docker-compose.yml
Due: weewx

SYS-703 wip
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
Due: none

SYS-703 dependency updater tool (#319)
  .gitlab-ci.yml
  README.md
  images/data-sync/helm/values.yaml
  images/haproxy-keepalived/helm/Chart.yaml
  images/haproxy-keepalived/helm/values.yaml
  images/nut-upsd/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/postfix-python/helm/templates/configmap.yaml
  images/weewx/log.conf
  k8s/Makefile
  k8s/Makefile.versions
  k8s/helm/apache/Chart.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/owntone/Chart.yaml
  k8s/helm/radicale/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  lib/build/updater/requirements.txt
  lib/build/updater/updater.py
  services/Makefile
  services/garage/docker-compose.yml
  services/haproxy-keepalived/docker-compose.yml
  services/keycloak/docker-compose.yml
  services/nut-upsd/docker-compose.yml
Due: weewx

Dependency updates for 06-Oct-2026
  lib/build/inventory.json
  lib/build/inventory.md
Due: none

repo updater tweaks
  README.md
  ansible/roles/kubernetes/defaults/main.yml
  images/data-sync/helm/Chart.yaml
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/headscale/Chart.yaml
  k8s/helm/synapse/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
  lib/build/inventory.md
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  lib/build/updater/updater.py
Due: postfix-python

repo updater tweaks
  lib/build/updater/updater.py
Due: none

Dependency updates for 06-Oct-2026 (#320)
  README.md
  ansible/roles/kubernetes/defaults/main.yml
  images/data-sync/helm/Chart.yaml
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/headscale/Chart.yaml
  k8s/helm/synapse/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
  lib/build/inventory.json
  lib/build/inventory.md
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  lib/build/updater/updater.py
Due: postfix-python

Fix a couple updater bugs, push out omitted changes
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  ansible/requirements.txt
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  ansible/roles/monitoring_agent/defaults/main.yml
  images/openldap/Dockerfile
  images/postfix/Dockerfile
  k8s/helm/apache/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/owntone/Chart.yaml
  k8s/helm/radicale/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  lib/build/updater/updater.py
  services/Makefile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

wip
  lib/build/updater/current_inventory.sh
Due: none

Dependency updates for 06-Oct-2026 (#321)
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  ansible/requirements.txt
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  ansible/roles/monitoring_agent/defaults/main.yml
  images/openldap/Dockerfile
  images/postfix/Dockerfile
  k8s/helm/apache/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/owntone/Chart.yaml
  k8s/helm/radicale/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  lib/build/inventory.json
  lib/build/inventory.md
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  lib/build/updater/updater.py
  services/Makefile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-703 more version-number tweaks to support repo updater
  README.md
  images/data-sync/Dockerfile
  images/dovecot/Dockerfile
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/hooks/add_tags
  k8s/Makefile
  k8s/Makefile.helm
  k8s/Makefile.network
  k8s/Makefile.sops
  k8s/Makefile.versions
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  lib/build/updater/updater.py
Due: data-sync, dovecot, haproxy-keepalived, mythtv-backend

SYS-703 wip
  lib/build/inventory.json
  lib/build/updater/current_inventory.sh
Due: none

SYS-703 wip
  lib/build/updater/updater.py
Due: none

SYS-703 repo updater fixes (#322)
  README.md
  images/data-sync/Dockerfile
  images/dovecot/Dockerfile
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/hooks/add_tags
  k8s/Makefile
  k8s/Makefile.helm
  k8s/Makefile.network
  k8s/Makefile.sops
  k8s/Makefile.versions
  lib/build/inventory.json
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  lib/build/updater/updater.py
Due: data-sync, dovecot, haproxy-keepalived, mythtv-backend

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
