Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml

Issue #242 publish mythtv-backend
  images/mythtv-backend/Dockerfile
Due: mythtv-backend

Issue #242 wip
  images/mythtv-backend/helm/Chart.yaml
Due: none

Issue #242 publish mythtv-backend (#246)
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
Due: mythtv-backend

SYS-668 replace ISC dhcpd with kea
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/README.md
  images/dhcpd-dns-pxe/docker-compose.yml
  images/dhcpd-dns-pxe/entrypoint.sh
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/values.yaml
  images/dhcpd-dns-pxe/hooks/add_tags
  images/dhcpd-dns-pxe/hooks/post_push
  images/dhcpd-dns-pxe/kubernetes.yaml
  images/dhcpd-dns-pxe/src/apc-rpdu.conf.j2
  images/dhcpd-dns-pxe/src/default.conf.j2
  images/dhcpd-dns-pxe/src/dhcpd.conf.j2
  images/dhcpd-dns-pxe/src/kea.conf.j2
  images/dhcpd-dns-pxe/src/local.conf.j2
  images/dhcpd-dns-pxe/src/subnet.conf.j2
Due: dhcpd-dns-pxe

SYS-668 wip
  images/dhcpd-dns-pxe/entrypoint.sh
Due: dhcpd-dns-pxe

SYS-668 replace ISC dhcpd with kea (#248)
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/README.md
  images/dhcpd-dns-pxe/docker-compose.yml
  images/dhcpd-dns-pxe/entrypoint.sh
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/values.yaml
  images/dhcpd-dns-pxe/hooks/add_tags
  images/dhcpd-dns-pxe/hooks/post_push
  images/dhcpd-dns-pxe/kubernetes.yaml
  images/dhcpd-dns-pxe/src/apc-rpdu.conf.j2
  images/dhcpd-dns-pxe/src/default.conf.j2
  images/dhcpd-dns-pxe/src/dhcpd.conf.j2
  images/dhcpd-dns-pxe/src/kea.conf.j2
  images/dhcpd-dns-pxe/src/local.conf.j2
  images/dhcpd-dns-pxe/src/subnet.conf.j2
Due: dhcpd-dns-pxe

SYS-668 database reconnect config for kea; bump grafana helm version
  images/dhcpd-dns-pxe/README.md
  images/dhcpd-dns-pxe/src/kea.conf.j2
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/templates/configmap.yaml
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/alertmanager/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/synapse/subcharts/element/templates/configmap.yaml
  k8s/helm/synapse/subcharts/element/values.yaml
  k8s/helm/synapse/values.yaml
Due: dhcpd-dns-pxe

SYS-668 database reconnect config for kea; bump grafana helm version (#249)
  images/dhcpd-dns-pxe/README.md
  images/dhcpd-dns-pxe/src/kea.conf.j2
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/templates/configmap.yaml
  images/weewx/helm-nginx/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/alertmanager/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/synapse/subcharts/element/templates/configmap.yaml
  k8s/helm/synapse/subcharts/element/values.yaml
  k8s/helm/synapse/values.yaml
Due: dhcpd-dns-pxe

SYS-666 update rsyslogd image and rest helm chart
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: rsyslogd

SYS-666 update rsyslogd image and rest helm chart (#250)
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: rsyslogd

SYS-671 version bumps - authelia, gitea, spamassassin, splunk, vaultwarden
  images/spamassassin/Dockerfile
  images/spamassassin/helm/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
Due: spamassassin

SYS-671 wip
  images/spamassassin/Dockerfile
Due: spamassassin

SYS-671 wip
  .image-gitlab-ci.yml
  images/blacklist/Dockerfile
  images/spamassassin/Dockerfile
  k8s/Makefile.versions
  k8s/helm/etcd/Chart.yaml
  k8s/helm/nextcloud/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-671 wip
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  README.md
  images/mariadb-galera/Dockerfile
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-671 wip
  lib/build/Makefile.docker_image
Due: none

SYS-671 wip
  images/blacklist/Dockerfile
Due: blacklist

SYS-671 owntone media server - replacement for mt-daapd
  README.md
  images/mt-daapd/README.md
  k8s/Makefile.versions
  k8s/helm/mt-daapd
  k8s/helm/owntone/Chart.yaml
  k8s/helm/owntone/templates/NOTES.txt
  k8s/helm/owntone/templates/app.yaml
  k8s/helm/owntone/templates/tests/test-connection.yaml
  k8s/helm/owntone/values.yaml
Due: mt-daapd

SYS-671 owntone media server - replacement for mt-daapd (#252)
  README.md
  images/mt-daapd/README.md
  k8s/Makefile.versions
  k8s/helm/mt-daapd
  k8s/helm/owntone/Chart.yaml
  k8s/helm/owntone/templates/NOTES.txt
  k8s/helm/owntone/templates/app.yaml
  k8s/helm/owntone/templates/tests/test-connection.yaml
  k8s/helm/owntone/values.yaml
Due: mt-daapd

SYS-671 wip
  k8s/Makefile.helm
Due: none

SYS-669 replace rainloop with snappymail
  README.md
  k8s/helm/snappymail/.helmignore
  k8s/helm/snappymail/Chart.yaml
  k8s/helm/snappymail/templates/NOTES.txt
  k8s/helm/snappymail/templates/app.yaml
  k8s/helm/snappymail/templates/tests/test-connection.yaml
  k8s/helm/snappymail/values.yaml
Due: none

SYS-669 wip
  images/data-sync/helm/Chart.yaml
  images/data-sync/helm/values.yaml
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/values.yaml
  images/postfix-python/helm/Chart.yaml
  images/postfix-python/helm/values.yaml
Due: none

SYS-669 replace rainloop with snappymail (#255)
  README.md
  images/data-sync/helm/values.yaml
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/values.yaml
  images/postfix-python/helm/Chart.yaml
  images/postfix-python/helm/values.yaml
  k8s/helm/snappymail/.helmignore
  k8s/helm/snappymail/Chart.yaml
  k8s/helm/snappymail/templates/NOTES.txt
  k8s/helm/snappymail/templates/app.yaml
  k8s/helm/snappymail/templates/tests/test-connection.yaml
  k8s/helm/snappymail/values.yaml
Due: none

SYS-656 dovecot 2.4.1 image update
  images/dovecot/Dockerfile
  images/dovecot/README.md
  images/dovecot/entrypoint-dovecot.sh
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/templates/configmap.yaml
  images/dovecot/helm/values.yaml
  k8s/Makefile.helm
  k8s/Makefile.vars
  k8s/global.yaml
  k8s/install/gitlab-rbac.yaml
  k8s/scripts/node_labels.sh.example
Due: dovecot

SYS-656 wip
  images/dovecot/Dockerfile
Due: dovecot

SYS-656 wip
  images/dovecot/helm/Chart.yaml
Due: none

SYS-656 dovecot 2.4.1 image update (#256)
  images/dovecot/Dockerfile
  images/dovecot/README.md
  images/dovecot/entrypoint-dovecot.sh
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/templates/configmap.yaml
  images/dovecot/helm/values.yaml
  k8s/Makefile.helm
  k8s/Makefile.vars
  k8s/global.yaml
  k8s/install/gitlab-rbac.yaml
  k8s/scripts/node_labels.sh.example
Due: dovecot

SYS-656 fix dovecot build-promotion hook
  images/dovecot/README.md
  images/dovecot/hooks/add_tags
Due: dovecot

SYS-656 fix dovecot build-promotion hook (#257)
  images/dovecot/README.md
  images/dovecot/hooks/add_tags
Due: dovecot

SYS-672 retire logspout, add fluent-bit
  README.md
  ansible/ansible.cfg
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/mythfrontend/tasks/main.yml
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/templates/ntp.conf.j2
  images/dovecot/README.md
  k8s/Makefile
  k8s/Makefile.vars
  k8s/README.md
  k8s/helm/etcd/values.yaml
  k8s/install/fluent-bit-splunk.yaml
  k8s/install/fluent-bit.yaml
  k8s/install/logspout.yaml
Due: dovecot

SYS-672 wip
  k8s/Makefile
  k8s/Makefile.vars
  k8s/install/fluent-bit-splunk.yaml
  k8s/install/fluent-bit.yaml
Due: none

SYS-672 wip
  README.md
  k8s/README.md
Due: none

SYS-672 wip
  k8s/README.md
Due: none

SYS-672 retire logspout, add fluent-bit (#258)
  README.md
  ansible/ansible.cfg
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/mythfrontend/tasks/main.yml
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/templates/ntp.conf.j2
  images/dovecot/README.md
  k8s/Makefile
  k8s/Makefile.vars
  k8s/README.md
  k8s/helm/etcd/values.yaml
  k8s/install/fluent-bit-splunk.yaml
  k8s/install/fluent-bit.yaml
  k8s/install/logspout.yaml
Due: dovecot

SYS-671 update wordpress helm chart - 6.9.1
  README.md
  images/data-sync/helm/values.yaml
  images/mysqldump/README.md
  k8s/Makefile.versions
  k8s/README.md
  k8s/helm/wordpress/Chart.yaml
  k8s/helm/wordpress/values.yaml
Due: mysqldump
