Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

data-sync:
  stage: data-sync
  trigger:
    include:
    - artifact: .child-data-sync.yml
      job: prepare

ddclient:
  stage: ddclient
  trigger:
    include:
    - artifact: .child-ddclient.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mariadb-galera:
  stage: mariadb-galera
  trigger:
    include:
    - artifact: .child-mariadb-galera.yml
      job: prepare

mt-daapd:
  stage: mt-daapd
  trigger:
    include:
    - artifact: .child-mt-daapd.yml
      job: prepare

mysqldump:
  stage: mysqldump
  trigger:
    include:
    - artifact: .child-mysqldump.yml
      job: prepare

mythtv-backend:
  stage: mythtv-backend
  trigger:
    include:
    - artifact: .child-mythtv-backend.yml
      job: prepare

nagios:
  stage: nagios
  trigger:
    include:
    - artifact: .child-nagios.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

openldap:
  stage: openldap
  trigger:
    include:
    - artifact: .child-openldap.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare

python-wsgi:
  stage: python-wsgi
  trigger:
    include:
    - artifact: .child-python-wsgi.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

samba-dc:
  stage: samba-dc
  trigger:
    include:
    - artifact: .child-samba-dc.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

SYS-617 breaking-change Dockerfile updates for alpine 3.19
  images/postfix-python/Dockerfile
  images/proftpd/Dockerfile
  images/samba-dc/Dockerfile
  images/weewx/Dockerfile
Due: postfix-python, proftpd, samba-dc, weewx

SYS-617 breaking-change Dockerfile updates for alpine 3.19 (#144)
  images/postfix-python/Dockerfile
  images/proftpd/Dockerfile
  images/samba-dc/Dockerfile
  images/weewx/Dockerfile
Due: postfix-python, proftpd, samba-dc, weewx

SYS-619 roll back weewx / haproxy-keepalived; update a few helm charts
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mysqldump/helm/Chart.yaml
  images/openldap/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/weewx/Dockerfile
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  lib/build/Makefile.docker_image
Due: dovecot, haproxy-keepalived, samba-dc, weewx

SYS-619 roll back weewx / haproxy-keepalived; update a few helm charts (#145)
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mysqldump/helm/Chart.yaml
  images/openldap/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/weewx/Dockerfile
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  lib/build/Makefile.docker_image
Due: dovecot, haproxy-keepalived, samba-dc, weewx

add util-linux dependency
  images/nut-upsd/Dockerfile
Due: nut-upsd

SYS-616 add gitea helm chart with git-dump updates
  README.md
  images/git-dump/Dockerfile
  images/git-dump/README.md
  images/git-dump/entrypoint.sh
  images/git-dump/git-dump.sh
  k8s/helm/gitea/.helmignore
  k8s/helm/gitea/Chart.yaml
  k8s/helm/gitea/templates/NOTES.txt
  k8s/helm/gitea/templates/app.yaml
  k8s/helm/gitea/templates/service-nodeport.yaml
  k8s/helm/gitea/templates/tests/test-connection.yaml
  k8s/helm/gitea/values.yaml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/gitlab/values.yaml
  k8s/install/ingress-nginx.yaml
Due: none

SYS-616 add gitea helm chart with git-dump updates (#147)
  README.md
  images/git-dump/Dockerfile
  images/git-dump/README.md
  images/git-dump/entrypoint.sh
  images/git-dump/git-dump.sh
  k8s/helm/gitea/.helmignore
  k8s/helm/gitea/Chart.yaml
  k8s/helm/gitea/templates/NOTES.txt
  k8s/helm/gitea/templates/app.yaml
  k8s/helm/gitea/templates/service-nodeport.yaml
  k8s/helm/gitea/templates/tests/test-connection.yaml
  k8s/helm/gitea/values.yaml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/gitlab/values.yaml
  k8s/install/ingress-nginx.yaml
Due: none

SYS-616 gitea backups
  k8s/helm/gitea/values.yaml
Due: none

SYS-616 gitea backups wip
  k8s/helm/gitea/values.yaml
Due: none

SYS-616 wip
  k8s/helm/gitea/values.yaml
Due: none

Sys 616 gitea 2 (#148)
  k8s/helm/gitea/values.yaml
Due: none

Issue #149 nut-upsd 2.8.2
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
Due: nut-upsd

add util-linux dependency (#146)
  images/nut-upsd/Dockerfile
Due: nut-upsd

Issue #149 nut-upsd 2.8.2 (#150)
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
Due: nut-upsd

Issue #149 security patch updates for nut-upsd
  images/nut-upsd/Dockerfile
Due: nut-upsd

Issue #149 security patch updates for nut-upsd (#151)
  images/nut-upsd/Dockerfile
Due: nut-upsd

Issue #149 two more security patches for nut-upsd
  .image-gitlab-ci.yml
  images/nut-upsd/Dockerfile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-622 nagios 4.5.1 image update
  images/nagios/Dockerfile
  images/nagios/entrypoint.sh
Due: nagios

SYS-622 nagios 4.5.1 image update (#152)
  images/nagios/Dockerfile
  images/nagios/entrypoint.sh
Due: nagios

SYS-622 disable trivy scanner until alpine:3.20 arrives
  .image-gitlab-ci.yml
  images/nagios/README.md
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-622 disable trivy scanner until alpine:3.20 arrives (#153)
  .image-gitlab-ci.yml
  images/nagios/README.md
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-623 updates for dhcpd-dns-pxe, mysqldump, postfix, proftpd, restic
  images/data-sync/helm/values.yaml
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/README.md
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  images/weewx/requirements.txt
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: dhcpd-dns-pxe, mysqldump, postfix, postfix-python, proftpd, weewx

SYS-623 updates for dhcpd-dns-pxe, mysqldump, postfix, proftpd, restic (#155)
  images/data-sync/helm/values.yaml
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/README.md
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  images/weewx/requirements.txt
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: dhcpd-dns-pxe, mysqldump, postfix, postfix-python, proftpd, weewx

SYS-623 upgrade images git-dump, git-pull
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
Due: git-pull

SYS-623 upgrade images git-dump, git-pull (#156)
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
Due: git-pull

SYS-623 rebuild images listed in PR #155
  images/dhcpd-dns-pxe/Dockerfile
  images/mysqldump/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
Due: dhcpd-dns-pxe, mysqldump, postfix, postfix-python, proftpd

SYS-623 rebuild images listed in PR #155 (#157)
  images/dhcpd-dns-pxe/Dockerfile
  images/mysqldump/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
Due: dhcpd-dns-pxe, mysqldump, postfix, postfix-python, proftpd

SYS-622 alpine:20 image updates
  .image-gitlab-ci.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/kubernetes/tasks/main.yml
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nut-upsd/Dockerfile
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-622 alpine:20 wip
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-622 alpine:20 wip
  images/data-sync/Dockerfile
  images/git-pull/Dockerfile
  images/mt-daapd/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagios/entrypoint.sh
Due: data-sync, git-pull, mt-daapd, nagios

SYS-622 alpine:20 image updates (#160)
  .image-gitlab-ci.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/kubernetes/tasks/main.yml
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mt-daapd/Dockerfile
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/mythtv-backend/helm/Chart.yaml
  images/nagios/Dockerfile
  images/nagios/entrypoint.sh
  images/nut-upsd/Dockerfile
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-622 updates for authelia, ddclient, dhcp-dns-pxe, ez-ipupdate, mythtv-backend
  images/ddclient/Dockerfile
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/ez-ipupdate/Dockerfile
  images/mythtv-backend/Dockerfile
  k8s/helm/authelia/templates/configmap.yaml
  k8s/helm/authelia/values.yaml
Due: ddclient, dhcpd-dns-pxe, ez-ipupdate, mythtv-backend

SYS-622 updates for authelia, ddclient, dhcp-dns-pxe, ez-ipupdate, mythtv-backend (#161)
  images/ddclient/Dockerfile
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/ez-ipupdate/Dockerfile
  images/mythtv-backend/Dockerfile
  k8s/helm/authelia/templates/configmap.yaml
  k8s/helm/authelia/values.yaml
Due: ddclient, dhcpd-dns-pxe, ez-ipupdate, mythtv-backend

SYS-622 image tweaks and updates - haproxy-keepalived, postfix-python, samba-dc
  .image-gitlab-ci.yml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/samba-dc/Dockerfile
  images/samba-dc/entrypoint.sh
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-622 image tweaks and updates - haproxy-keepalived, postfix-python, samba-dc (#162)
  .image-gitlab-ci.yml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/samba-dc/Dockerfile
  images/samba-dc/entrypoint.sh
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-622 trivy scan fixes - postfix-python, udp-nginx, wxcam-upload
  .image-gitlab-ci.yml
  images/postfix-python/requirements.txt
  images/udp-nginx-proxy/Dockerfile
  images/wxcam-upload/Dockerfile
  images/wxcam-upload/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-622 trivy scan fixes - postfix-python, udp-nginx, wxcam-upload (#163)
  .image-gitlab-ci.yml
  images/postfix-python/requirements.txt
  images/udp-nginx-proxy/Dockerfile
  images/wxcam-upload/Dockerfile
  images/wxcam-upload/helm/Chart.yaml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-624 helm chart for vaultwarden password manager
  README.md
  k8s/helm/vaultwarden/.helmignore
  k8s/helm/vaultwarden/Chart.yaml
  k8s/helm/vaultwarden/templates/NOTES.txt
  k8s/helm/vaultwarden/templates/app.yaml
  k8s/helm/vaultwarden/templates/tests/test-connection.yaml
  k8s/helm/vaultwarden/values.yaml
Due: none

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml
