Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-dump: any of: images/git-dump/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml

SYS-548 image updates - alpine 3.14 and package-dependency updates
  README.md
  ansible/requirements.txt
  images/data-sync/Dockerfile
  images/dhcpd-dns-pxe/Dockerfile
  images/dovecot/Dockerfile
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-dump/helm/values.yaml
  images/git-pull/Dockerfile
  images/haproxy-keepalived/Dockerfile
  images/mariadb-galera/Dockerfile
  images/mysqldump/Dockerfile
  images/mythtv-backend/Dockerfile
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/rsyslogd/Dockerfile
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/spamassassin/Dockerfile
  images/udp-nginx-proxy/Dockerfile
  images/weewx/Dockerfile
Due: dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy

SYS-548 image updates - alpine 3.14 and package-dependency updates
  README.md
  ansible/requirements.txt
  images/data-sync/Dockerfile
  images/dhcpd-dns-pxe/Dockerfile
  images/dovecot/Dockerfile
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-dump/helm/values.yaml
  images/git-pull/Dockerfile
  images/haproxy-keepalived/Dockerfile
  images/mariadb-galera/Dockerfile
  images/mysqldump/Dockerfile
  images/mythtv-backend/Dockerfile
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/rsyslogd/Dockerfile
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/spamassassin/Dockerfile
  images/udp-nginx-proxy/Dockerfile
  images/weewx/Dockerfile
  k8s/Makefile.versions
Due: dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy

SYS-548 python-wsgi / python-builder update to 3.9.5
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

SYS-548 python-wsgi Pipfile.lock
  images/python-wsgi/Pipfile.lock
Due: python-wsgi

SYS-549 new ddclient image, and fix haprox-keepalived
  .gitlab-ci.yml
  images/data-sync/helm/Chart.yaml
  images/data-sync/helm/values.yaml
  images/ddclient/Dockerfile
  images/ddclient/Jenkinsfile
  images/ddclient/Makefile
  images/ddclient/README.md
  images/ddclient/docker-compose.yml
  images/ddclient/entrypoint.sh
  images/ddclient/helm/.helmignore
  images/ddclient/helm/Chart.yaml
  images/ddclient/helm/templates/NOTES.txt
  images/ddclient/helm/templates/app.yaml
  images/ddclient/helm/templates/tests/test-connection.yaml
  images/ddclient/helm/values.yaml
  images/ddclient/hooks/add_tags
  images/ddclient/hooks/build
  images/ddclient/hooks/post_build
  images/ddclient/hooks/post_push
  images/ddclient/kubernetes.yaml
  images/dovecot/README.md
  images/dovecot/kubernetes.yaml
  images/git-dump/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/README.md
  images/haproxy-keepalived/docker-compose.yml
  images/haproxy-keepalived/entrypoint.sh
  images/haproxy-keepalived/kubernetes.yaml
  images/samba/helm/values.yaml
  k8s/Makefile
  k8s/helm/ddclient
  services/haproxy-keepalived/docker-compose.yml
Due: dovecot, haproxy-keepalived

SYS-548 update postfix image, add helm charts postfix and haproxy-keepalived
  images/ddclient/README.md
  images/ddclient/entrypoint.sh
  images/ddclient/helm/values.yaml
  images/dovecot/Dockerfile
  images/ez-ipupdate/README.md
  images/haproxy-keepalived/README.md
  images/haproxy-keepalived/helm/.helmignore
  images/haproxy-keepalived/helm/Chart.yaml
  images/haproxy-keepalived/helm/templates/NOTES.txt
  images/haproxy-keepalived/helm/templates/app.yaml
  images/haproxy-keepalived/helm/templates/tests/test-connection.yaml
  images/haproxy-keepalived/helm/values.yaml
  images/postfix-python/helm/.helmignore
  images/postfix-python/helm/Chart.yaml
  images/postfix-python/helm/templates/NOTES.txt
  images/postfix-python/helm/templates/app.yaml
  images/postfix-python/helm/templates/configmap.yaml
  images/postfix-python/helm/templates/service_ext.yaml
  images/postfix-python/helm/templates/tests/test-connection.yaml
  images/postfix-python/helm/values.yaml
  k8s/Makefile
  k8s/Makefile.versions
  k8s/haproxy-keepalived.yaml
  k8s/helm/haproxy-keepalived
  k8s/helm/liblocal/templates/_helper_pod.tpl
  k8s/helm/postfix
  k8s/postfix.yaml
Due: dovecot, ez-ipupdate, haproxy-keepalived

SYS-546 define dovecot helm chart, with data-sync dependeny
  .gitignore
  images/blacklist/README.md
  images/data-sync/helm/values.yaml
  images/dovecot/README.md
  images/dovecot/helm/.helmignore
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/templates/NOTES.txt
  images/dovecot/helm/templates/app.yaml
  images/dovecot/helm/templates/configmap.yaml
  images/dovecot/helm/templates/configmap_postfix.yaml
  images/dovecot/helm/templates/service_ext.yaml
  images/dovecot/helm/templates/tests/test-connection.yaml
  images/dovecot/helm/values.yaml
  images/postfix-python/helm/values.yaml
  k8s/dovecot.yaml
  k8s/helm/dovecot
  k8s/helm/liblocal/templates/_configmap.tpl
  k8s/helm/liblocal/templates/_helper_pod.tpl
Due: blacklist, dovecot

SYS-546 iterating
  .github/workflows/release.yml
  admin
Due: none

SYS-546 iterating
  ansible/group_vars
  ansible/host_vars
  ansible/hosts
  ansible/hosts-swarm
Due: none

SYS-546 iterating
  ansible/roles/docker_node/files/certs/ca-root.pem
  ansible/roles/docker_node/files/certs/docker-tls-cert.pem
  ansible/roles/docker_node/files/certs/registry-cert.pem
  ansible/roles/docker_node/files/keys
  ansible/roles/fileserver/files/etc
  ansible/roles/users/files/keys
Due: none

SYS-546 iterating
  k8s/secrets
Due: none

SYS-546 iterating
  k8s/scripts/node_labels.sh
Due: none

SYS-546 iterating
  stacks/secondshot.yml
Due: none

SYS-546 chart repo
  .github/ct.yaml
  .github/workflows/ci.yaml
Due: none

SYS-546 iterating
  .github/workflows/release.yaml
Due: none

SYS-546 iterating
  .github/workflows/release.yaml
  .github/workflows/release.yml
Due: none

SYS-546 iterating
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

SYS-546 iterating
  .github/workflows/release.yaml
  .gitlab-ci.yml
  .image-gitlab-ci.yml
Due: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

SYS-546 dealing with missing branch-name instructions in chart-releaser docs
  .github/workflows/release.yaml
Due: none

SYS-546 iterating
  .github/workflows/release.yml
Due: none

SYS-546 iterating
  images/blacklist/helm/Chart.yaml
  images/data-sync/helm/Chart.yaml
  images/ddclient/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dovecot/helm/Chart.yaml
  images/ez-ipupdate/helm/Chart.yaml
  images/git-dump/helm/Chart.yaml
  images/haproxy-keepalived/helm/Chart.yaml
  images/mt-daapd/helm/Chart.yaml
  images/mysqldump/helm/Chart.yaml
  images/mythtv-backend/helm/Chart.yaml
  images/nut-upsd/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/helm/Chart.yaml
  images/samba/helm/Chart.yaml
  images/spamassassin/helm/Chart.yaml
  images/weewx/helm/Chart.yaml
  images/wxcam-upload/helm/Chart.yaml
  k8s/helm/artifactory/Chart.yaml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/splunk/Chart.yaml
Due: none

SYS-546 iterating
  .github/workflows/release.yaml
  k8s/helm/tmp/chartlib/.helmignore
  k8s/helm/tmp/chartlib/Chart.yaml
  k8s/helm/tmp/chartlib/templates/_configmap.tpl
  k8s/helm/tmp/chartlib/templates/_deployment.tpl
  k8s/helm/tmp/chartlib/templates/_helper_pod.tpl
  k8s/helm/tmp/chartlib/templates/_helpers.tpl
  k8s/helm/tmp/chartlib/templates/_hpa.tpl
  k8s/helm/tmp/chartlib/templates/_ingress.tpl
  k8s/helm/tmp/chartlib/templates/_ingresstotp.tpl
  k8s/helm/tmp/chartlib/templates/_service.tpl
  k8s/helm/tmp/chartlib/templates/_serviceaccount.tpl
  k8s/helm/tmp/chartlib/templates/_statefulset.tpl
Due: none

SYS-546 iterating
  .github/workflows/release.yaml
  images/blacklist/helm/Chart.yaml
  images/data-sync/helm/Chart.yaml
  images/ddclient/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dovecot/helm/Chart.yaml
  images/ez-ipupdate/helm/Chart.yaml
  images/git-dump/helm/Chart.yaml
  images/haproxy-keepalived/helm/Chart.yaml
  images/mt-daapd/helm/Chart.yaml
  images/mysqldump/helm/Chart.yaml
  images/mythtv-backend/helm/Chart.yaml
  images/nut-upsd/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/helm/Chart.yaml
  images/samba/helm/Chart.yaml
  images/spamassassin/helm/Chart.yaml
  images/weewx/helm/Chart.yaml
  images/wxcam-upload/helm/Chart.yaml
  k8s/helm/artifactory/Chart.yaml
  k8s/helm/chartlib/.helmignore
  k8s/helm/chartlib/Chart.yaml
  k8s/helm/chartlib/templates/_configmap.tpl
  k8s/helm/chartlib/templates/_deployment.tpl
  k8s/helm/chartlib/templates/_helper_pod.tpl
  k8s/helm/chartlib/templates/_helpers.tpl
  k8s/helm/chartlib/templates/_hpa.tpl
  k8s/helm/chartlib/templates/_ingress.tpl
  k8s/helm/chartlib/templates/_ingresstotp.tpl
  k8s/helm/chartlib/templates/_service.tpl
  k8s/helm/chartlib/templates/_serviceaccount.tpl
  k8s/helm/chartlib/templates/_statefulset.tpl
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/splunk/Chart.yaml
Due: none

SYS-546 iterating
  k8s/helm/chartlib/Chart.yaml
Due: none

SYS-546 clean out workflows from this branch
  .github/ct.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

SYS-546 add a README
  README.md
Due: none

SYS-546 iterating
  .github/ct.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  k8s/helm/tmp/chartlib/.helmignore
  k8s/helm/tmp/chartlib/Chart.yaml
  k8s/helm/tmp/chartlib/templates/_configmap.tpl
  k8s/helm/tmp/chartlib/templates/_deployment.tpl
  k8s/helm/tmp/chartlib/templates/_helper_pod.tpl
  k8s/helm/tmp/chartlib/templates/_helpers.tpl
  k8s/helm/tmp/chartlib/templates/_hpa.tpl
  k8s/helm/tmp/chartlib/templates/_ingress.tpl
  k8s/helm/tmp/chartlib/templates/_ingresstotp.tpl
  k8s/helm/tmp/chartlib/templates/_service.tpl
  k8s/helm/tmp/chartlib/templates/_serviceaccount.tpl
  k8s/helm/tmp/chartlib/templates/_statefulset.tpl
Due: none

SYS-546 iterating
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  k8s/helm/artifactory/Chart.yaml
  k8s/helm/chartlib/.helmignore
  k8s/helm/chartlib/Chart.yaml
  k8s/helm/chartlib/templates/_configmap.tpl
  k8s/helm/chartlib/templates/_deployment.tpl
  k8s/helm/chartlib/templates/_helper_pod.tpl
  k8s/helm/chartlib/templates/_helpers.tpl
  k8s/helm/chartlib/templates/_hpa.tpl
  k8s/helm/chartlib/templates/_ingress.tpl
  k8s/helm/chartlib/templates/_ingresstotp.tpl
  k8s/helm/chartlib/templates/_service.tpl
  k8s/helm/chartlib/templates/_serviceaccount.tpl
  k8s/helm/chartlib/templates/_statefulset.tpl
Due: none

SYS-546 iterating
  images/blacklist/helm/Chart.yaml
  images/data-sync/helm/Chart.yaml
  images/ddclient/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/Chart.yaml
  k8s/helm/gitlab/Chart.yaml
Due: none
