Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml

SYS-624 helm chart for vaultwarden password manager (#164)
  README.md
  k8s/helm/vaultwarden/.helmignore
  k8s/helm/vaultwarden/Chart.yaml
  k8s/helm/vaultwarden/templates/NOTES.txt
  k8s/helm/vaultwarden/templates/app.yaml
  k8s/helm/vaultwarden/templates/tests/test-connection.yaml
  k8s/helm/vaultwarden/values.yaml
Due: none

SYS-623 re-implement weewx installation for version 5.x
  images/weewx/Dockerfile
  images/weewx/README.md
  images/weewx/entrypoint.sh
  images/weewx/helm/Chart.yaml
  images/weewx/install-input.txt
  images/weewx/log.conf
  images/weewx/requirements.txt
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/vaultwarden/values.yaml
Due: weewx

SYS-623 vaultwarden helm chart version
  k8s/helm/vaultwarden/Chart.yaml
Due: none

SYS-623 fix permissions of .ssh
  images/weewx/entrypoint.sh
Due: weewx

SYS-623 clean out requirements.txt
  images/weewx/requirements.txt
Due: weewx

SYS-623 re-implement weewx installation for version 5.x (#165)
  images/weewx/Dockerfile
  images/weewx/README.md
  images/weewx/entrypoint.sh
  images/weewx/helm/Chart.yaml
  images/weewx/install-input.txt
  images/weewx/log.conf
  images/weewx/requirements.txt
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/vaultwarden/Chart.yaml
  k8s/helm/vaultwarden/values.yaml
Due: weewx

SYS-623 weewx Dockerfile fixes for arm/v6
  images/weewx/Dockerfile
Due: weewx

SYS-623 weewx Dockerfile wip
  images/weewx/Dockerfile
Due: weewx

SYS-623 bump trivy to 0.54.1
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-623 fix and publish multi-platform weewx image (#166)
  .image-gitlab-ci.yml
  images/weewx/Dockerfile
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mt-daapd, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx, wxcam-upload

SYS-626 ubuntu 24.04 and ansible updates for k8s 1.31
  ansible/README.md
  ansible/hosts-lab
  ansible/hosts-swarm
  ansible/join-swarm.yml
  ansible/k8s-cplane.yml
  ansible/k8s-node.yml
  ansible/node-setup.yml
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/docker_node/tasks/thinpool.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/handlers/main.yml
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/tasks/cplane_init.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  ansible/roles/kubernetes/tasks/join.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/kubernetes/tasks/master_init.yml
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/monitoring_agent/tasks/packages.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/kernel.yml
  ansible/roles/ntp/tasks/main.yml
  ansible/roles/volumes/tasks/encrypted.yml
  ansible/volume-setup.yml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  k8s/Makefile
  k8s/Makefile.instances
  k8s/Makefile.pgo
  k8s/Makefile.sops
  k8s/Makefile.versions
  k8s/global.yaml
  k8s/helm/vaultwarden/Chart.yaml
  k8s/install/pgo-patch-4.5.1.diff
Due: weewx

SYS-626 wip
  ansible/k8s-cplane.yml
Due: none

SYS-626 ubuntu 24.04 and ansible updates for k8s 1.31 (#169)
  ansible/README.md
  ansible/hosts-lab
  ansible/hosts-swarm
  ansible/join-swarm.yml
  ansible/k8s-cplane.yml
  ansible/k8s-node.yml
  ansible/node-setup.yml
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/docker_node/tasks/thinpool.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/handlers/main.yml
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/tasks/cplane_init.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  ansible/roles/kubernetes/tasks/join.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/kubernetes/tasks/master_init.yml
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/monitoring_agent/tasks/packages.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/kernel.yml
  ansible/roles/ntp/tasks/main.yml
  ansible/roles/volumes/tasks/encrypted.yml
  ansible/volume-setup.yml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  k8s/Makefile
  k8s/Makefile.instances
  k8s/Makefile.pgo
  k8s/Makefile.sops
  k8s/Makefile.versions
  k8s/global.yaml
  k8s/helm/vaultwarden/Chart.yaml
  k8s/install/pgo-patch-4.5.1.diff
Due: weewx

SYS-626 ansible and helm adjustments for kubernetes 1.31
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/monitoring_agent/files/plugins/check_disk_status
  ansible/roles/monitoring_agent/files/plugins/check_etcd_cluster_health
  k8s/Makefile
  k8s/Makefile.helm
  k8s/Makefile.versions
  k8s/README.md
  k8s/helm/etcd/values.yaml
  k8s/helm/nexus/values.yaml
  k8s/install/dashboard-patch.json
Due: none

SYS-626 ansible and helm adjustments for kubernetes 1.31 (#170)
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/monitoring_agent/files/plugins/check_disk_status
  ansible/roles/monitoring_agent/files/plugins/check_etcd_cluster_health
  k8s/Makefile
  k8s/Makefile.helm
  k8s/Makefile.versions
  k8s/README.md
  k8s/helm/etcd/values.yaml
  k8s/helm/nexus/values.yaml
  k8s/install/dashboard-patch.json
Due: none

SYS-630 work in progress for ext vhost, not working yet
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  k8s/monitor.yaml
Due: none

SYS-626 helm chart updates plus some more k8s 1.31 upgrade tweaks
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
Due: none

SYS-626 helm chart wip
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/handlers/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/docker_node/tasks/thinpool.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/tasks/cplane_init.yml
  ansible/roles/kubernetes/tasks/join.yml
  ansible/roles/ntp/tasks/main.yml
  images/weewx/helm-nginx/Chart.yaml
  k8s/Makefile
  k8s/Makefile.vars
  k8s/helm/authelia/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/gitea/values.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
Due: none

SYS-626 helm chart wip
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
Due: none

SYS-626 address k8s version 1.31 loose ends (#172)
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/handlers/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/docker_node/tasks/thinpool.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/tasks/cplane_init.yml
  ansible/roles/kubernetes/tasks/join.yml
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
  ansible/roles/ntp/tasks/main.yml
  images/weewx/helm-nginx/Chart.yaml
  k8s/Makefile
  k8s/Makefile.vars
  k8s/helm/authelia/Chart.yaml
  k8s/helm/gitea/Chart.yaml
  k8s/helm/gitea/values.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/vaultwarden/Chart.yaml
Due: none

Issue #171 nut-upsd healthcheck
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
  images/nut-upsd/helm/Chart.yaml
  k8s/Makefile.instances
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/README.md
  k8s/install/ingress-nginx.yaml
Due: nut-upsd

Issue #171 nut-upsd healthcheck (#173)
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
  images/nut-upsd/helm/Chart.yaml
  k8s/Makefile.instances
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/README.md
  k8s/install/ingress-nginx.yaml
Due: nut-upsd

SYS-632 k8s audit log
  ansible/roles/kubernetes/tasks/cplane.yml
  ansible/roles/kubernetes/templates/kubeadm-config-cplane.j2
Due: none

SYS-632 add audit-policies.yaml.j2
  ansible/roles/kubernetes/templates/audit-policies.yaml.j2
Due: none

SYS-633 image updates wip
  k8s/helm/splunk/Chart.yaml
Due: none

SYS-633 fix chown commands for ddclient / git-dump
  images/ddclient/entrypoint.sh
  images/git-dump/Dockerfile
  images/git-dump/entrypoint.sh
Due: ddclient

SYS-633 image updates wip
  images/ddclient/entrypoint.sh
Due: ddclient

SYS-633 fix chown commands for ddclient / git-dump (#177)
  images/ddclient/entrypoint.sh
  images/git-dump/Dockerfile
  images/git-dump/entrypoint.sh
Due: ddclient

SYS-633 unexpected change in get-pip.py from third-party site
  images/postfix-python/Dockerfile
Due: postfix-python

SYS-633 unexpected change in get-pip.py from third-party site (#178)
  images/postfix-python/Dockerfile
Due: postfix-python

SYS-633 mysqldump update for version 11.x, and nagios 4.5.8
  images/mysqldump/mysql-backup.sh
  images/nagios/Dockerfile
  images/nagios/entrypoint.sh
Due: mysqldump, nagios

SYS-633 mysqldump update for version 11.x, and nagios 4.5.8 (#179)
  images/mysqldump/mysql-backup.sh
  images/nagios/Dockerfile
  images/nagios/entrypoint.sh
Due: mysqldump, nagios

SYS-633 update image and ansible for mythtv v34, and fix mysqldump image
  ansible/roles/mythfrontend/defaults/main.yml
  ansible/roles/mythfrontend/tasks/main.yml
  ansible/roles/mythfrontend/tasks/vars/noble.yml
  images/mysqldump/Dockerfile
  images/mysqldump/README.md
  images/mysqldump/entrypoint.sh
  images/mysqldump/mysql-backup.sh
  images/mythtv-backend/Dockerfile
Due: mysqldump, mythtv-backend

SYS-633 update image and ansible for mythtv v34, and fix mysqldump image (#180)
  ansible/roles/mythfrontend/defaults/main.yml
  ansible/roles/mythfrontend/tasks/main.yml
  ansible/roles/mythfrontend/tasks/vars/noble.yml
  images/mysqldump/Dockerfile
  images/mysqldump/README.md
  images/mysqldump/entrypoint.sh
  images/mysqldump/mysql-backup.sh
  images/mythtv-backend/Dockerfile
Due: mysqldump, mythtv-backend

SYS-633 minor update git-dump / git-pull
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mythtv-backend/README.md
Due: git-pull, mythtv-backend

SYS-633 minor update git-dump / git-pull (#181)
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mythtv-backend/README.md
Due: git-pull, mythtv-backend

SYS-633 add swap support to ansible volumes role
  ansible/roles/mythfrontend/templates/setup.sh.j2
  ansible/roles/volumes/defaults/main.yml
  ansible/roles/volumes/tasks/main.yml
  ansible/roles/volumes/tasks/swap.yml
  k8s/volumes/videos.yaml
Due: none

SYS-633 wip - samba-dc
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
Due: samba-dc
