Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-dump:
  stage: git-dump
  trigger:
    include:
    - artifact: .child-git-dump.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mt-daapd:
  stage: mt-daapd
  trigger:
    include:
    - artifact: .child-mt-daapd.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare

python-wsgi:
  stage: python-wsgi
  trigger:
    include:
    - artifact: .child-python-wsgi.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

wxcam-upload:
  stage: wxcam-upload
  trigger:
    include:
    - artifact: .child-wxcam-upload.yml
      job: prepare

SYS-546 fix chart-releasing
  images/dovecot/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/wxcam-upload/helm/Chart.yaml
  k8s/helm/artifactory/Chart.yaml
Due: none

SYS-546 fix chart-releasing
  .github/workflows/release.yaml
Due: none

SYS-546 fix chart-releasing
  .github/workflows/release.yaml
  k8s/helm/artifactory/Chart.yaml
Due: none

SYS-546 add helm to python-builder
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-builder, python-wsgi

SYS-546 helm iterating
  k8s/helm/authelia/Chart.yaml
  lib/build/Makefile.docker_image
Due: none

SYS-546 helm iterating
  .github/cr.yaml
  .github/ct.yaml
  .github/workflows/release.yaml
  images/python-builder/README.md
Due: python-builder

SYS-546 build cffi==1.4.6 instead of broken py3-cffi 1.4.5 package
  .github/cr.yaml
  .gitlab-ci.yml
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/python-wsgi/README.md
Due: python-builder, python-wsgi

SYS-546 workflow rules for helm
  .gitlab-ci.yml
Due: none

SYS-546 iterating on helm workflow rules
  .gitlab-ci.yml
  images/python-builder/README.md
  images/python-wsgi/README.md
Due: python-builder, python-wsgi

SYS-546 iterating on helm workflow rules
  images/python-builder/Dockerfile
Due: python-builder

SYS-555 chartlib fixes for ingress.enabled and initContainers
  k8s/helm/chartlib/Chart.yaml
  k8s/helm/chartlib/templates/_helper_pod.tpl
  k8s/helm/chartlib/templates/_ingress.tpl
  k8s/helm/chartlib/templates/_ingresstotp.tpl
Due: none

SYS-555 turn off microbadger hooks, switch python-wsgi base image
  images/blacklist/hooks/post_build
  images/data-sync/hooks/post_build
  images/davite/hooks/post_build
  images/ddclient/hooks/post_build
  images/dhcpd-dns-pxe/hooks/post_build
  images/dovecot/hooks/post_build
  images/dropbox/hooks/post_build
  images/duplicati/hooks/post_build
  images/ez-ipupdate/hooks/post_build
  images/git-dump/hooks/post_build
  images/git-pull/hooks/post_build
  images/haproxy-keepalived/hooks/post_build
  images/jenkins-master/hooks/post_build
  images/mariadb-galera/hooks/post_build
  images/mt-daapd/hooks/post_build
  images/mysqldump/hooks/post_build
  images/mythsuse/hooks/post_build
  images/mythtv-backend/hooks/post_build
  images/nagiosql/hooks/post_build
  images/nut-upsd/hooks/post_build
  images/open-xchange-appsuite/hooks/post_build
  images/postfix-python/hooks/post_build
  images/postfix/hooks/post_build
  images/proftpd/hooks/post_build
  images/python-builder/hooks/post_build
  images/python-wsgi/Dockerfile
  images/python-wsgi/hooks/add_tags
  images/python-wsgi/hooks/post_build
  images/rsyslogd/hooks/post_build
  images/samba-dc/hooks/post_build
  images/samba/hooks/post_build
  images/spamassassin/hooks/post_build
  images/swarm-sync/hooks/post_build
  images/udp-nginx-proxy/hooks/post_build
  images/vsftpd/hooks/post_build
  images/weewx/hooks/post_build
Due: python-wsgi

SYS-555 reduce build-time of python-wsgi
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/python-wsgi/README.md
Due: python-builder, python-wsgi

SYS-546 iterating on python-wsgi
  images/python-builder/Dockerfile
  images/python-wsgi/Dockerfile
Due: python-builder, python-wsgi

SYS-546 iterating on python-wsgi
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-wsgi

SYS-555 iterating on helm workflow rules
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
Due: python-wsgi

SYS-555 iterating on python-wsgi image
  images/python-wsgi/Dockerfile
Due: python-wsgi

SYS-563 nextcloud, splunk, restic 3rd-party updates
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/nextcloud/templates/NOTES.txt
  k8s/helm/nextcloud/values.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
Due: none

Bumb nut to 2.7.4-r10
  images/nut-upsd/Dockerfile
  images/nut-upsd/Dockerfile.arm32
  images/nut-upsd/Dockerfile.arm64
Due: nut-upsd

Add nut sdorder configuration
  images/nut-upsd/Dockerfile
  images/nut-upsd/Dockerfile.arm32
  images/nut-upsd/Dockerfile.arm64
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

Document SDORDER in nut redme
  images/nut-upsd/README.md
Due: nut-upsd

Realm should be upper-case.
  images/samba-dc/entrypoint.sh
Due: none

Add nut sdorder configuration (#71)
  images/nut-upsd/Dockerfile
  images/nut-upsd/Dockerfile.arm32
  images/nut-upsd/Dockerfile.arm64
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

Realm should be upper-case. (#72)
  images/samba-dc/entrypoint.sh
Due: none

SYS-569 image updates
  images/ddclient/Dockerfile
  images/ddclient/helm/Chart.yaml
  images/dovecot/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nut-upsd/helm/Chart.yaml
  images/postfix/Dockerfile
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/templates/configmap.yaml
  k8s/helm/gitlab-runner/Chart.yaml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/gitlab/templates/configmap.yaml
  k8s/helm/gitlab/values.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/splunk/values.yaml
Due: postfix, rsyslogd, samba

SYS-570 restore index.yaml from local cache
  index.yaml
Due: none

SYS-570 iterating on replacing lost helm releases
  images/ddclient/helm/Chart.yaml
  images/dovecot/helm/Chart.yaml
  images/mysqldump/helm/Chart.yaml
  images/nut-upsd/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/samba-dc/helm/Chart.yaml
  images/samba/helm/Chart.yaml
  k8s/helm/gitlab/subcharts/postgres/.helmignore
  k8s/helm/gitlab/subcharts/postgres/Chart.yaml
  k8s/helm/gitlab/subcharts/postgres/templates/NOTES.txt
  k8s/helm/gitlab/subcharts/postgres/templates/app.yaml
  k8s/helm/gitlab/subcharts/postgres/templates/tests/test-connection.yaml
  k8s/helm/gitlab/subcharts/postgres/values.yaml
  k8s/helm/restic/Chart.yaml
Due: none

SYS-570 iterating on replacing lost helm releases
  .github/workflows/release.yaml
  k8s/helm-skip/artifactory/.helmignore
  k8s/helm-skip/artifactory/Chart.yaml
  k8s/helm-skip/artifactory/templates/NOTES.txt
  k8s/helm-skip/artifactory/templates/app.yaml
  k8s/helm-skip/artifactory/templates/tests/test-connection.yaml
  k8s/helm-skip/artifactory/values.yaml
  k8s/helm-skip/authelia/.helmignore
  k8s/helm-skip/authelia/Chart.yaml
  k8s/helm-skip/authelia/subcharts/ldap/.helmignore
  k8s/helm-skip/authelia/subcharts/ldap/Chart.yaml
  k8s/helm-skip/authelia/subcharts/ldap/templates/NOTES.txt
  k8s/helm-skip/authelia/subcharts/ldap/templates/app.yaml
  k8s/helm-skip/authelia/subcharts/ldap/templates/tests/test-connection.yaml
  k8s/helm-skip/authelia/subcharts/ldap/values.yaml
  k8s/helm-skip/authelia/subcharts/redis/.helmignore
  k8s/helm-skip/authelia/subcharts/redis/Chart.yaml
  k8s/helm-skip/authelia/subcharts/redis/templates/NOTES.txt
  k8s/helm-skip/authelia/subcharts/redis/templates/app.yaml
  k8s/helm-skip/authelia/subcharts/redis/templates/tests/test-connection.yaml
  k8s/helm-skip/authelia/subcharts/redis/values.yaml
  k8s/helm-skip/authelia/templates/NOTES.txt
  k8s/helm-skip/authelia/templates/app.yaml
  k8s/helm-skip/authelia/templates/configmap.yaml
  k8s/helm-skip/authelia/templates/tests/test-connection.yaml
  k8s/helm-skip/authelia/values.yaml
  k8s/helm-skip/blacklist
Due: none

Update index.yaml
  index.yaml
Due: none

SYS-570 iterating on replacing lost helm releases
  k8s/helm/artifactory/Chart.yaml
  k8s/helm/artifactory/templates/NOTES.txt
  k8s/helm/artifactory/templates/app.yaml
  k8s/helm/artifactory/templates/tests/test-connection.yaml
  k8s/helm/artifactory/values.yaml
  k8s/helm/authelia/Chart.yaml
  k8s/helm/authelia/subcharts/ldap/.helmignore
  k8s/helm/authelia/subcharts/ldap/Chart.yaml
  k8s/helm/authelia/subcharts/ldap/templates/NOTES.txt
  k8s/helm/authelia/subcharts/ldap/templates/app.yaml
  k8s/helm/authelia/subcharts/ldap/templates/tests/test-connection.yaml
  k8s/helm/authelia/subcharts/ldap/values.yaml
  k8s/helm/authelia/subcharts/redis/.helmignore
  k8s/helm/authelia/subcharts/redis/Chart.yaml
  k8s/helm/authelia/subcharts/redis/templates/NOTES.txt
  k8s/helm/authelia/subcharts/redis/templates/app.yaml
  k8s/helm/authelia/subcharts/redis/templates/tests/test-connection.yaml
  k8s/helm/authelia/subcharts/redis/values.yaml
  k8s/helm/authelia/templates/NOTES.txt
  k8s/helm/authelia/templates/app.yaml
  k8s/helm/authelia/templates/configmap.yaml
  k8s/helm/authelia/templates/tests/test-connection.yaml
  k8s/helm/authelia/values.yaml
  k8s/helm/blacklist
Due: none

SYS-570 iterating on replacing lost helm releases
  images/blacklist/helm/Chart.yaml
  k8s/helm/artifactory/Chart.yaml
  k8s/helm/authelia/Chart.yaml
Due: none

SYS-570 iterating on replacing lost helm releases
  images/data-sync/helm/Chart.yaml
  images/davite/helm/Chart.yaml
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/ez-ipupdate/helm/Chart.yaml
  images/git-dump/helm/Chart.yaml
  images/haproxy-keepalived/helm/Chart.yaml
  images/il-v1/helm/Chart.yaml
  images/mariadb-galera/helm/Chart.yaml
  images/mt-daapd/helm/Chart.yaml
  images/mythtv-backend/helm/Chart.yaml
  images/proftpd/helm/Chart.yaml
  images/spamassassin/helm/Chart.yaml
  images/squirrelmail/helm/Chart.yaml
  images/weewx/helm-nginx/Chart.yaml
  images/weewx/helm/Chart.yaml
  images/wxcam-upload/helm/Chart.yaml
  k8s/helm/artifactory/Chart.yaml
  k8s/helm/etcd/Chart.yaml
  k8s/helm/gitlab-runner/Chart.yaml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/jira/Chart.yaml
  k8s/helm/nextcloud/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/rainloop/Chart.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/wordpress/Chart.yaml
Due: none

SYS-570 iterating on replacing lost helm releases
  images/data-sync/helm/Chart.yaml
  images/dovecot/helm/Chart.yaml
  images/mythtv-backend/helm/Chart.yaml
  images/wxcam-upload/helm/Chart.yaml
Due: none

SYS-570 iterating on replacing lost helm releases
  k8s/helm/chartlib/Chart.yaml
Due: none

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-dump: any of: images/git-dump/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml
