Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-dump:
  stage: git-dump
  trigger:
    include:
    - artifact: .child-git-dump.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mt-daapd:
  stage: mt-daapd
  trigger:
    include:
    - artifact: .child-mt-daapd.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare

python-wsgi:
  stage: python-wsgi
  trigger:
    include:
    - artifact: .child-python-wsgi.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

wxcam-upload:
  stage: wxcam-upload
  trigger:
    include:
    - artifact: .child-wxcam-upload.yml
      job: prepare

SYS-508 sort-order of drive alerts, plus cleanups and version updates
  ansible/roles/monitoring_agent/files/plugins/check_drive_health.py
  ansible/roles/monitoring_agent/files/plugins/check_file_age_multi.sh
  ansible/roles/monitoring_agent/tasks/packages.yml
  images/mariadb-galera/kubernetes-single.yaml
  images/mariadb-galera/kubernetes.yaml
  k8s/Makefile.instances
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/restic.yaml
Due: none

SYS-509 nextcloud update fixed, now 20.0.1
  k8s/Makefile.versions
  k8s/cloud.yaml
Due: none

Install missing GPG
  images/spamassassin/Dockerfile
Due: spamassassin

Execute sa-update on container run
  images/spamassassin/entrypoint.sh
Due: spamassassin

Uncomment DCC loadplugin
  images/spamassassin/Dockerfile
Due: spamassassin

[images/spamassassin] Install missing gpg and run sa-update on container start (#52)
  images/spamassassin/Dockerfile
  images/spamassassin/entrypoint.sh
Due: spamassassin

Uncomment DCC loadplugin (#53)
  images/spamassassin/Dockerfile
Due: spamassassin

SYS-510 fix data-sync log warnings, bump versions of mariadb, nut, postfix, samba
  README.md
  images/data-sync/Dockerfile
  images/data-sync/src/data-sync.sh
  images/jenkins-slave/Dockerfile
  images/jenkins-slave/requirements.txt
  images/mariadb-galera/Dockerfile
  images/mysqldump/Dockerfile
  images/nut-upsd/Dockerfile
  images/postfix/Dockerfile
  images/python-builder/Dockerfile
  images/python-builder/requirements.txt
  images/python-wsgi/Dockerfile
  images/python-wsgi/requirements.txt
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/spamassassin/Dockerfile
  k8s/Makefile.versions
Due: nut-upsd, postfix, python-builder, python-wsgi, samba, spamassassin

SYS-510 dependency updates
  images/data-sync/Dockerfile
  images/dovecot/Dockerfile
  images/nut-upsd/Dockerfile
  images/postfix-python/Dockerfile
  images/python-builder/Dockerfile
  k8s/Makefile.versions
Due: dovecot, nut-upsd, postfix-python, python-builder

SYS-512 python3 fixes for postfix-python image
  images/postfix-python/Dockerfile
  images/postfix-python/requirements.txt
  images/postfix-python/src/honeypot-ip.py
Due: postfix-python

SYS-511 new nagios image, jasonrivers went obsolete
  .gitlab-ci.yml
  README.md
  images/nagios/Dockerfile
  images/nagios/Makefile
  images/nagios/README.md
  images/nagios/docker-compose.yml
  images/nagios/entrypoint.sh
  images/nagios/hooks/add_tags
  images/nagios/kubernetes.yaml
  images/nagios/mail.sh
  images/nagios/nginx.conf
  images/nagios/php-fpm-www.conf
  images/nagiosql/Dockerfile
  images/nagiosql/README.md
  images/nagiosql/docker-compose.yml
  images/nagiosql/entrypoint.sh
  images/nagiosql/hooks/add_tags
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/etcd.yaml
  k8s/nagios.yaml
Due: nagiosql

SYS-511 small bug-fixes on new nagios image, plus adjustments to nagiosql
  images/nagios/README.md
  images/nagios/docker-compose.yml
  images/nagios/entrypoint.sh
  images/nagios/kubernetes.yaml
  images/nagiosql/README.md
  images/nagiosql/docker-compose.yml
  images/nagiosql/entrypoint.sh
  k8s/Makefile.vars
Due: nagiosql

SYS-511 add some perl libs for nagios plugins and improve nagiosql integration
  images/data-sync/kubernetes.yaml
  images/nagios/Dockerfile
  images/nagios/README.md
  images/nagios/entrypoint.sh
  images/nagios/kubernetes.yaml
  images/nagiosql/entrypoint.sh
Due: nagiosql

SYS-514 final adjustments for migrating ubuntu 18.04->20.04
  ansible/roles/fileserver/defaults/main.yml
  ansible/roles/fileserver/tasks/main.yml
  ansible/roles/fileserver/templates/smb.conf.j2
  ansible/roles/mythfrontend/defaults/main.yml
  ansible/roles/mythfrontend/tasks/debian/ir-keytable.yml
  ansible/roles/mythfrontend/templates/ir_rc6_mce.toml.j2
  ansible/roles/volumes/tasks/main.yml
  k8s/Makefile.instances
  k8s/Makefile.versions
Due: none

SYS-515 upgrade k8s resources for jira 8.13.2; image update mythtv-backend
  images/data-sync/kubernetes.yaml
  images/mythtv-backend/Dockerfile
  k8s/Makefile.vars
  k8s/jira.yaml
  k8s/nexus.yaml
Due: none

SYS-516 update data-sync to unison 2.51.3 from source
  .gitlab-ci.yml
  images/data-sync/Dockerfile
  images/data-sync/hooks/add_tags
  images/data-sync/kubernetes.yaml
  images/data-sync/src/entrypoint.sh
  k8s/Makefile.versions
  k8s/data-sync-backup.yaml
  k8s/install/local-storage.yaml
Due: none

Issue #54 - fix for nut-upsd armv7, and version updates
  .gitlab-ci.yml
  ansible/roles/monitoring_agent/files/plugins/check_ping.sh
  images/data-sync/kubernetes.yaml
  images/nut-upsd/Dockerfile
  images/python-builder/requirements.txt
  k8s/Makefile.versions
  k8s/install/namespace-user.yaml
Due: nut-upsd, python-builder

Add libmythtv-perl to mythtv-backend build to make mythlink.pl usable
  images/mythtv-backend/Dockerfile
Due: none

SYS-523 more k8s 1.19.x updates
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  images/data-sync/kubernetes.yaml
  images/mt-daapd/kubernetes.yaml
  k8s/cloud.yaml
  k8s/scripts/persistent.sh
Due: mt-daapd

SYS-528 version refresh - alpine 3.13 has arrived
  ansible/roles/monitoring_agent/handlers/main.yml
  ansible/roles/monitoring_agent/tasks/main.yml
  ansible/roles/monitoring_agent/templates/rsyslog.service.j2
  images/data-sync/Dockerfile
  images/dhcpd-dns-pxe/Dockerfile
  images/dovecot/Dockerfile
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
  images/haproxy-keepalived/Dockerfile
  images/mariadb-galera/Dockerfile
  images/mysqldump/Dockerfile
  images/nagios/Dockerfile
  images/nagiosql/Dockerfile
  images/nut-upsd/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/rsyslogd/Dockerfile
  images/rsyslogd/entrypoint.sh
  images/rsyslogd/kubernetes.yaml
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/spamassassin/README.md
  images/udp-nginx-proxy/Dockerfile
  k8s/Makefile.versions
  k8s/cloud.yaml
  k8s/restic.yaml
  k8s/volumes/duplicati-restore.yaml
Due: dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy

SYS-528 update k8s/Makefile.versions, deal with a few breaking-change updates
  images/haproxy-keepalived/entrypoint.sh
  images/haproxy-keepalived/kubernetes.yaml
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-builder/entrypoint.sh
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/python-wsgi/entrypoint.sh
  k8s/Makefile.versions
Due: haproxy-keepalived, python-builder, python-wsgi

SYS-527 add tzdata for splunk localtime display; update mythtv-backend
  images/mythtv-backend/Dockerfile
  k8s/splunk.yaml
Due: none

SYS-527 weewx image upgraded to 4.4.0; change syslog timestamps to UTC
  images/weewx/Dockerfile
  images/weewx/entrypoint.sh
  images/weewx/requirements.txt
Due: none

SYS-527 git update to 2.30.2
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
  images/weewx/README.md
Due: git-dump, git-pull

SYS-530 nagios regression problem in alpine repo is fixed
  images/nagios/Dockerfile
  k8s/Makefile.versions
Due: none

SYS-534 update dependencies in python images
  images/jenkins-slave/Dockerfile
  images/jenkins-slave/Jenkinsfile
  images/jenkins-slave/Makefile
  images/jenkins-slave/README.md
  images/jenkins-slave/entrypoint.sh
  images/jenkins-slave/hooks/build
  images/jenkins-slave/hooks/post_build
  images/jenkins-slave/hooks/post_push
  images/jenkins-slave/requirements.txt
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-builder/requirements.txt
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/python-wsgi/README.md
  images/python-wsgi/requirements.txt
Due: python-builder, python-wsgi

SYS-534 python-builder, mythtv-backend image updates
  images/mythtv-backend/Dockerfile
  images/python-builder/Pipfile.lock
  k8s/Makefile.versions
Due: python-builder

SYS-540 image updates - Apr 2021
  images/dhcpd-dns-pxe/Dockerfile
  images/mariadb-galera/Makefile
  images/mariadb-galera/requirements/test.txt
  images/mysqldump/Dockerfile
  images/mythtv-backend/Dockerfile
  images/postfix-python/Dockerfile
  images/postfix/Dockerfile
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/samba-dc/Dockerfile
  images/samba/Dockerfile
  images/weewx/Dockerfile
  k8s/Makefile.versions
  lib/build/Makefile.python_app
Due: dhcpd-dns-pxe, postfix, postfix-python, python-builder, python-wsgi, samba

SYS-540 more dependency updates
  ansible/Makefile
  ansible/requirements.txt
  ansible/requirements/common.txt
  images/postfix-python/Dockerfile
  images/postfix-python/requirements.txt
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  k8s/Makefile.versions
Due: postfix-python, python-builder, python-wsgi

SYS-540 fix typo for postfix-python image
  images/postfix-python/requirements.txt
Due: postfix-python

SYS-540 update for deprecated postfix config; tweak python-wsgi
  images/postfix-python/README.md
  images/postfix-python/kubernetes.yaml
  images/postfix/README.md
  images/postfix/etc-example/postfix.cf
  images/python-wsgi/Pipfile.lock
  k8s/Makefile.versions
  k8s/restic.yaml
Due: postfix, postfix-python, python-wsgi

SYS-540 more changes to python images
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/samba-dc/kubernetes.yaml
  k8s/Makefile.versions
  k8s/ingress-nginx.yaml
Due: python-builder, python-wsgi

SYS-540 python image update, second try; also a new samba-dc came out
  images/python-builder/Dockerfile
  images/python-builder/Pipfile
  images/python-builder/Pipfile.lock
  images/python-wsgi/Dockerfile
  images/python-wsgi/Pipfile
  images/python-wsgi/Pipfile.lock
  images/samba-dc/Dockerfile
Due: python-builder, python-wsgi

SYS-545 splt out wxcam-upload sync statefulset
  images/data-sync/kubernetes.yaml
  images/samba-dc/README.md
  images/wxcam-upload/kubernetes.yaml
  k8s/Makefile.versions
Due: wxcam-upload

SYS-530 image updates - nagios, mythtv-backend, mariadb-galera
  images/mariadb-galera/Dockerfile
  images/mythtv-backend/Dockerfile
  images/nagios/Dockerfile
  stacks/services/Makefile
Due: none

SYS-519 set limit on docker log file size
  ansible/roles/docker_node/defaults/main.yml
  k8s/Makefile.versions
Due: none

SYS-519 rate-limit defaults for rsyslogd
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/monitoring_agent/tasks/main.yml
  ansible/roles/monitoring_agent/templates/rsyslog-custom.conf.j2
Due: none

SYS-546 helm wip
  images/ez-ipupdate/README.md
  images/ez-ipupdate/helm/charts/liblocal-0.1.0.tgz
  images/ez-ipupdate/helm/templates/deployment.yaml
  images/ez-ipupdate/helm/values.yaml
  images/git-dump/README.md
  images/git-dump/helm/charts/liblocal-0.1.0.tgz
  images/git-dump/helm/templates/app.yaml
  images/git-dump/helm/templates/deployment.yaml
  images/git-dump/helm/values.yaml
  images/mt-daapd/README.md
  images/mt-daapd/helm/charts/liblocal-0.1.0.tgz
  images/mt-daapd/helm/templates/app.yaml
  images/mt-daapd/helm/templates/deployment.yaml
  images/mt-daapd/helm/values.yaml
  images/nut-upsd/helm/.helmignore
  images/nut-upsd/helm/Chart.yaml
  images/nut-upsd/helm/charts/liblocal-0.1.0.tgz
  images/nut-upsd/helm/templates/NOTES.txt
  images/nut-upsd/helm/templates/app.yaml
  images/nut-upsd/helm/templates/service.yaml
  images/nut-upsd/helm/templates/tests/test-connection.yaml
  images/nut-upsd/helm/values.yaml
  k8s/Makefile.instances
  k8s/global.yaml
  k8s/helm/liblocal/templates/_deployment.tpl
  k8s/helm/nut-01
  k8s/helm/nut-02
  k8s/helm/nut-upsd
  k8s/nut-upsd.yaml
Due: ez-ipupdate, git-dump, mt-daapd

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-dump: any of: images/git-dump/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml
