Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, mt-daapd, nagiosql, nut-upsd, postfix, postfix-python, proftpd, python-builder, python-wsgi, rsyslogd, samba, spamassassin, udp-nginx-proxy, vsftpd, wxcam-upload

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-dump:
  stage: git-dump
  trigger:
    include:
    - artifact: .child-git-dump.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mt-daapd:
  stage: mt-daapd
  trigger:
    include:
    - artifact: .child-mt-daapd.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare

python-wsgi:
  stage: python-wsgi
  trigger:
    include:
    - artifact: .child-python-wsgi.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

wxcam-upload:
  stage: wxcam-upload
  trigger:
    include:
    - artifact: .child-wxcam-upload.yml
      job: prepare

Make variable SERIAL optional for nut-upsd image - issue #81
  images/nut-upsd/README.md
  images/nut-upsd/entrypoint.sh
Due: nut-upsd

Image vsftpd update to 3.0.5
  images/vsftpd/Dockerfile
  images/vsftpd/README.md
Due: vsftpd

Issues #80, #82 - upgrade nut-upsd and improve README
  images/nut-upsd/Dockerfile
  images/nut-upsd/README.md
Due: nut-upsd

SYS-579 image updates: data-sync postfix proftpd rsyslog
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/nut-upsd/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: postfix, postfix-python, proftpd, rsyslogd

SYS-579 python-builder / weewx image updates, several helm chart updates
  images/python-builder/Pipfile.lock
  images/python-wsgi/Pipfile.lock
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  k8s/helm/gitlab/Chart.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/guacamole/values.yaml
  k8s/helm/jira/Chart.yaml
  k8s/helm/nexus/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/wordpress/Chart.yaml
Due: python-builder, python-wsgi

SYS-579 python-builder image update
  images/python-builder/Dockerfile
  images/python-wsgi/Dockerfile
Due: python-builder, python-wsgi

SYS-580 image updates for Alpine 3.16
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/ez-ipupdate/Dockerfile
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/README.md
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  images/udp-nginx-proxy/Dockerfile
  images/vsftpd/Dockerfile
Due: dhcpd-dns-pxe, dovecot, ez-ipupdate, git-dump, git-pull, haproxy-keepalived, postfix, postfix-python, proftpd, rsyslogd, samba, udp-nginx-proxy, vsftpd

SYS-582 upgrade nagios, change doveot to openldap, prepare for k8s 1.24.x
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/kubernetes/tasks/master_init.yml
  images/ddclient/Dockerfile
  images/dovecot/helm/templates/configmap.yaml
  images/dovecot/helm/values.yaml
  images/ez-ipupdate/README.md
  images/nagios/Dockerfile
  images/nagios/README.md
  images/nagios/entrypoint.sh
Due: ez-ipupdate

SYS-581 git version update to 2.36.2
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
Due: git-dump, git-pull

SYS-582 nagios 4.4.7
  images/nagios/entrypoint.sh
Due: none

SYS-585 dovecot helm chart and image support for openldap
  images/dovecot/README.md
  images/dovecot/entrypoint-dovecot.sh
  images/dovecot/helm/Chart.yaml
  images/dovecot/helm/templates/configmap.yaml
  images/dovecot/helm/values.yaml
  images/haproxy-keepalived/README.md
Due: dovecot, haproxy-keepalived

SYS-586 new instantlinux/openldap image; several other image updates
  .gitlab-ci.yml
  README.md
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/openldap/.dockerignore
  images/openldap/Dockerfile
  images/openldap/Makefile
  images/openldap/README.md
  images/openldap/docker-compose.yml
  images/openldap/entrypoint.sh
  images/openldap/example-users.ldif
  images/openldap/helm/.helmignore
  images/openldap/helm/Chart.yaml
  images/openldap/helm/templates/NOTES.txt
  images/openldap/helm/templates/app.yaml
  images/openldap/helm/templates/tests/test-connection.yaml
  images/openldap/helm/values.yaml
  images/openldap/hooks/add_tags
  images/openldap/hooks/build
  images/openldap/hooks/post_push
  images/openldap/ldif/0-auditlog.ldif
  images/openldap/ldif/0-memberof.ldif
  images/openldap/ldif/0-ppolicy.ldif
  images/openldap/ldif/1-domain.ldif
  images/openldap/ldif/1-passwordDefaultPolicy.ldif
  images/openldap/slapd.conf
  images/proftpd/Dockerfile
  images/wxcam-upload/Dockerfile
  images/wxcam-upload/helm/Chart.yaml
  lib/build/dockerhub-hook
Due: dhcpd-dns-pxe, haproxy-keepalived, nut-upsd, proftpd, wxcam-upload

SYS-586 openldap initial version
  images/openldap/README.md
  images/openldap/entrypoint.sh
  images/openldap/helm/values.yaml
Due: none

SYS-586 use awk instead of clumsy shell commands for pw ldapmodify
  images/openldap/README.md
  images/openldap/entrypoint.sh
Due: none

Issue #83 - fix proftpd container restart
  images/openldap/README.md
  images/proftpd/entrypoint.sh
  k8s/helm/instances/dc04
Due: proftpd

Fix oops in previous commit for proftpd
  images/proftpd/entrypoint.sh
Due: proftpd

Issue #85 - version bump haproxy-keepalived to v2.6.4-alpine-2.2.7-r1
  images/haproxy-keepalived/Dockerfile
Due: haproxy-keepalived

SYS-581 issue #85 adjust haproxy startup, support pid: host
  images/haproxy-keepalived/README.md
  images/haproxy-keepalived/docker-compose.yml
  images/haproxy-keepalived/helm/Chart.yaml
  images/haproxy-keepalived/helm/values.yaml
  images/openldap/LICENSE
  k8s/helm/chartlib/Chart.yaml
  k8s/helm/chartlib/templates/_helper_pod.tpl
  k8s/helm/openldap
Due: haproxy-keepalived

SYS-581 issue #85 missed an edit last commit
  images/haproxy-keepalived/entrypoint.sh
Due: haproxy-keepalived

SYS-571 Ubuntu 22.04 updates for fileserver
  ansible/roles/bind9/defaults/main.yml
  ansible/roles/bind9/tasks/main.yml
  ansible/roles/bind9/templates/named.conf.j2
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/fileserver/tasks/instantlinux.yml
  ansible/roles/fileserver/tasks/virtualbox.yml
  ansible/roles/fileserver/templates/vboxvmservice.j2
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/users/defaults/main.yml
Due: none

SYS-589 removed deprecated keywords from samba default config
  images/samba/Dockerfile
  images/samba/README.md
  images/samba/entrypoint.sh
  images/samba/smb.conf.j2
  k8s/helm/instances/samba-v1gw
Due: samba

SYS-590 preliminary updates for k8s 1.25
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/docker_node/tasks/docker.yml
  ansible/roles/docker_node/tasks/repos.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/join.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/kubernetes/tasks/master_init.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/main.yml
  images/samba-dc/helm/Chart.yaml
  images/samba-dc/helm/values.yaml
  images/samba/README.md
  k8s/Makefile
  k8s/Makefile.network
  k8s/Makefile.versions
  k8s/README.md
  k8s/helm/instances/dc04
  k8s/helm/instances/dc05
  k8s/install/gitlab-rbac.yaml
  k8s/install/k8s-backup.yaml
  k8s/install/namespace-user.yaml
  k8s/install/podsecurity.yaml
  k8s/volumes/duplicati-restore.yaml
Due: samba

issue-69 adds an chrony server to samba-dc to provide NTP for windows clients
  images/samba-dc/Dockerfile
  images/samba-dc/chrony.conf
  images/samba-dc/entrypoint.sh
Due: none

SYS-590 k8s 1.25 updates
  README.md
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  ansible/roles/kubernetes/tasks/join.yml
  ansible/roles/kubernetes/tasks/main.yml
  ansible/roles/kubernetes/tasks/master_init.yml
  k8s/Makefile
  k8s/Makefile.vars
  k8s/Makefile.versions
  k8s/README.md
  k8s/helm/instances/dc01
  k8s/helm/instances/dc02
  k8s/ingress-nginx.yaml
  k8s/install/namespace-user.yaml
  ssl/Makefile
  ssl/gencerts.py
Due: none

SYS-590 more updates for k8s 1.25.1
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  ansible/roles/kubernetes/tasks/master_init.yml
  ansible/roles/volumes/tasks/main.yml
  images/blacklist/helm/Chart.yaml
  images/blacklist/helm/templates/app.yaml
  images/blacklist/helm/values.yaml
  k8s/Makefile
  k8s/Makefile.vars
  k8s/README.md
  k8s/helm/etcd/Chart.yaml
  k8s/helm/etcd/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/helm/splunk/values.yaml
  k8s/install/ingress-nginx.yaml
  k8s/scripts/kube-conf-gen.sh
Due: none

SYS-594 image updates ddclient, dhcpd-dns-pxe, git-dump, git-pull, haproxy-keepalived, openldap, postfix
  ansible/roles/docker_node/files/docker-permissions.service
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/tasks/master.yml
  ansible/roles/users/tasks/main.yml
  images/ddclient/Dockerfile
  images/ddclient/helm/Chart.yaml
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/helm/Chart.yaml
  images/mythtv-backend/Dockerfile
  images/mythtv-backend/helm/Chart.yaml
  images/mythtv-backend/helm/values.yaml
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/openldap/ldif/0-hashedpassword.ldif
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  k8s/Makefile.helm
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
  k8s/helm/splunk/Chart.yaml
  k8s/install/ingress-nginx.yaml
  k8s/install/k8s-backup.yaml
  k8s/install/namespace-user.yaml
Due: dhcpd-dns-pxe, git-dump, git-pull, haproxy-keepalived, postfix, postfix-python

SYS-594 image updates - mysqldump, nut-upsd, weewx; helm update - restic
  ansible/roles/users/tasks/main.yml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nut-upsd/Dockerfile
  images/nut-upsd/helm/Chart.yaml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  k8s/helm/restic/Chart.yaml
  k8s/helm/restic/values.yaml
Due: nut-upsd

SYS-594 issue #95 update samba-dc to 4.16.7
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
Due: none

SYS-594 issue #95 update samba-dc to 4.16.7, update nexus helm chart
  images/samba-dc/Dockerfile
  k8s/helm/nexus/Chart.yaml
  k8s/helm/nexus/values.yaml
Due: none

SYS-594 update images for alpine:3.17
  images/data-sync/Dockerfile
  images/data-sync/helm/Chart.yaml
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/helm/Chart.yaml
  images/ez-ipupdate/Dockerfile
  images/ez-ipupdate/helm/Chart.yaml
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/mysqldump/Dockerfile
  images/mysqldump/helm/Chart.yaml
  images/nagios/Dockerfile
  images/openldap/Dockerfile
  images/openldap/helm/Chart.yaml
  images/postfix-python/Dockerfile
  images/postfix-python/helm/Chart.yaml
  images/postfix/Dockerfile
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/Dockerfile
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
  images/vsftpd/Dockerfile
  k8s/Makefile.versions
Due: dhcpd-dns-pxe, ez-ipupdate, git-dump, git-pull, postfix, postfix-python, proftpd, rsyslogd, samba, vsftpd

SYS-594 update nagios image to 4.4.9-2.4.2
  images/nagios/Dockerfile
Due: none

Add support for dns forwarders
  images/samba-dc/README.md
  images/samba-dc/smb.conf.j2
Due: none

SYS-596 Image updates - samba, git, dovecot, haproxy-keepalived, proftpd
  images/dovecot/Dockerfile
  images/dovecot/helm/Chart.yaml
  images/git-dump/Dockerfile
  images/git-dump/helm/Chart.yaml
  images/git-pull/Dockerfile
  images/git-pull/helm/Chart.yaml
  images/haproxy-keepalived/Dockerfile
  images/haproxy-keepalived/README.md
  images/haproxy-keepalived/entrypoint.sh
  images/haproxy-keepalived/helm/Chart.yaml
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/rsyslogd/helm/Chart.yaml
  images/samba-dc/Dockerfile
  images/samba-dc/helm/Chart.yaml
  images/samba/Dockerfile
  images/samba/helm/Chart.yaml
Due: dovecot, git-dump, git-pull, haproxy-keepalived, proftpd, samba

SYS-596 update base image ref for dovecot
  images/dovecot/Dockerfile
Due: dovecot

Make destination server configurable on ddclient docker entrypoint
  images/ddclient/entrypoint.sh
Due: none

Adding samba-winbind-clients to enable usage of ntlm_auth
  images/samba-dc/Dockerfile
Due: none

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-dump: any of: images/git-dump/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mt-daapd: any of: images/mt-daapd/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  python-builder: any of: images/python-builder/**, lib/**, .image-gitlab-ci.yml
  python-wsgi: any of: images/python-wsgi/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  wxcam-upload: any of: images/wxcam-upload/**, lib/**, .image-gitlab-ci.yml
