Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

data-sync:
  stage: data-sync
  trigger:
    include:
    - artifact: .child-data-sync.yml
      job: prepare

ddclient:
  stage: ddclient
  trigger:
    include:
    - artifact: .child-ddclient.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mariadb-galera:
  stage: mariadb-galera
  trigger:
    include:
    - artifact: .child-mariadb-galera.yml
      job: prepare

mysqldump:
  stage: mysqldump
  trigger:
    include:
    - artifact: .child-mysqldump.yml
      job: prepare

mythtv-backend:
  stage: mythtv-backend
  trigger:
    include:
    - artifact: .child-mythtv-backend.yml
      job: prepare

nagios:
  stage: nagios
  trigger:
    include:
    - artifact: .child-nagios.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

openldap:
  stage: openldap
  trigger:
    include:
    - artifact: .child-openldap.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

samba-dc:
  stage: samba-dc
  trigger:
    include:
    - artifact: .child-samba-dc.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

weewx:
  stage: weewx
  trigger:
    include:
    - artifact: .child-weewx.yml
      job: prepare

Dependency updates for 07-Oct-2026
  ansible/requirements.txt
  k8s/Makefile.versions
  k8s/helm/gitea/Chart.yaml
  lib/build/inventory.json
  lib/build/inventory.md
Due: none

More updater polishing
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/updater.py
Due: none

More updater polishing
  lib/build/updater/updater.py
Due: none

More updater polishing
  README.md
Due: none

More updater polishing
  k8s/helm/gitea/Chart.yaml
Due: none

Dependency updates for 07-Oct-2026 (#323)
  README.md
  ansible/requirements.txt
  k8s/Makefile.versions
  k8s/helm/gitea/Chart.yaml
  lib/build/inventory.json
  lib/build/inventory.md
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/updater.py
Due: none

SYS-703 add subcharts to inventory, sync more helm chart versions
  images/dovecot/helm/Chart.yaml
  images/git-dump/helm/Chart.yaml
  images/git-pull/helm/Chart.yaml
  images/mysqldump/helm/Chart.yaml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  k8s/Makefile
  k8s/Makefile.sops
  k8s/Makefile.versions
  k8s/helm/etcd/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/alertmanager/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/grafana/values.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/guacamole/values.yaml
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/values.yaml
  k8s/helm/jira/Chart.yaml
  k8s/helm/synapse/values.yaml
  lib/build/inventory.json
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  services/Makefile
  services/keycloak/docker-compose.yml
Due: weewx

SYS-703 add subcharts to inventory, sync more helm chart versions (#324)
  images/dovecot/helm/Chart.yaml
  images/git-dump/helm/Chart.yaml
  images/git-pull/helm/Chart.yaml
  images/mysqldump/helm/Chart.yaml
  images/weewx/Dockerfile
  images/weewx/helm/Chart.yaml
  k8s/Makefile
  k8s/Makefile.sops
  k8s/Makefile.versions
  k8s/helm/etcd/Chart.yaml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/subcharts/alertmanager/Chart.yaml
  k8s/helm/grafana/subcharts/prometheus/Chart.yaml
  k8s/helm/grafana/values.yaml
  k8s/helm/guacamole/Chart.yaml
  k8s/helm/guacamole/subcharts/guacamole-server/Chart.yaml
  k8s/helm/guacamole/subcharts/guacd/Chart.yaml
  k8s/helm/guacamole/values.yaml
  k8s/helm/immich/Chart.yaml
  k8s/helm/immich/values.yaml
  k8s/helm/jira/Chart.yaml
  k8s/helm/synapse/values.yaml
  lib/build/inventory.json
  lib/build/updater/current_inventory.sh
  lib/build/updater/find_latest.sh
  lib/build/updater/ignore.json
  services/Makefile
  services/keycloak/docker-compose.yml
Due: weewx

Dependency updates for 10-Oct-2026
  k8s/Makefile.versions
  lib/build/inventory.json
  lib/build/inventory.md
  services/Makefile
Due: none

Additions for k8s 1.37.1 breaking changes
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/handlers/main.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  images/haproxy-keepalived/README.md
  lib/build/inventory.json
  lib/build/inventory.md
  lib/build/updater/current_inventory.sh
  lib/build/updater/ignore.json
Due: haproxy-keepalived

Adjust suffix of nginx in services/Makefile
  services/Makefile
Due: none

Adjust suffix of nginx in services/Makefile
  lib/build/inventory.json
  lib/build/inventory.md
Due: none

Dependency updates for 10-Oct-2026 (#325)
  ansible/roles/docker_node/defaults/main.yml
  ansible/roles/kubernetes/defaults/main.yml
  ansible/roles/kubernetes/handlers/main.yml
  ansible/roles/kubernetes/tasks/cri-dockerd.yml
  images/haproxy-keepalived/README.md
  k8s/Makefile.versions
  lib/build/inventory.json
  lib/build/inventory.md
  lib/build/updater/current_inventory.sh
  lib/build/updater/ignore.json
  services/Makefile
Due: haproxy-keepalived

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
