Repository instantlinux/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

blacklist:
  stage: blacklist
  trigger:
    include:
    - artifact: .child-blacklist.yml
      job: prepare

data-sync:
  stage: data-sync
  trigger:
    include:
    - artifact: .child-data-sync.yml
      job: prepare

ddclient:
  stage: ddclient
  trigger:
    include:
    - artifact: .child-ddclient.yml
      job: prepare

dhcpd-dns-pxe:
  stage: dhcpd-dns-pxe
  trigger:
    include:
    - artifact: .child-dhcpd-dns-pxe.yml
      job: prepare

dovecot:
  stage: dovecot
  trigger:
    include:
    - artifact: .child-dovecot.yml
      job: prepare

ez-ipupdate:
  stage: ez-ipupdate
  trigger:
    include:
    - artifact: .child-ez-ipupdate.yml
      job: prepare

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare

haproxy-keepalived:
  stage: haproxy-keepalived
  trigger:
    include:
    - artifact: .child-haproxy-keepalived.yml
      job: prepare

mariadb-galera:
  stage: mariadb-galera
  trigger:
    include:
    - artifact: .child-mariadb-galera.yml
      job: prepare

mysqldump:
  stage: mysqldump
  trigger:
    include:
    - artifact: .child-mysqldump.yml
      job: prepare

mythtv-backend:
  stage: mythtv-backend
  trigger:
    include:
    - artifact: .child-mythtv-backend.yml
      job: prepare

nagios:
  stage: nagios
  trigger:
    include:
    - artifact: .child-nagios.yml
      job: prepare

nagiosql:
  stage: nagiosql
  trigger:
    include:
    - artifact: .child-nagiosql.yml
      job: prepare

nut-upsd:
  stage: nut-upsd
  trigger:
    include:
    - artifact: .child-nut-upsd.yml
      job: prepare

postfix:
  stage: postfix
  trigger:
    include:
    - artifact: .child-postfix.yml
      job: prepare

openldap:
  stage: openldap
  trigger:
    include:
    - artifact: .child-openldap.yml
      job: prepare

postfix-python:
  stage: postfix-python
  trigger:
    include:
    - artifact: .child-postfix-python.yml
      job: prepare

proftpd:
  stage: proftpd
  trigger:
    include:
    - artifact: .child-proftpd.yml
      job: prepare

rsyslogd:
  stage: rsyslogd
  trigger:
    include:
    - artifact: .child-rsyslogd.yml
      job: prepare

samba:
  stage: samba
  trigger:
    include:
    - artifact: .child-samba.yml
      job: prepare

samba-dc:
  stage: samba-dc
  trigger:
    include:
    - artifact: .child-samba-dc.yml
      job: prepare

spamassassin:
  stage: spamassassin
  trigger:
    include:
    - artifact: .child-spamassassin.yml
      job: prepare

udp-nginx-proxy:
  stage: udp-nginx-proxy
  trigger:
    include:
    - artifact: .child-udp-nginx-proxy.yml
      job: prepare

vsftpd:
  stage: vsftpd
  trigger:
    include:
    - artifact: .child-vsftpd.yml
      job: prepare

weewx:
  stage: weewx
  trigger:
    include:
    - artifact: .child-weewx.yml
      job: prepare

SYS-685 headscale chart for VPN (#293)
  README.md
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/network/tasks/tailscale.yml
  k8s/helm/headscale/.helmignore
  k8s/helm/headscale/Chart.yaml
  k8s/helm/headscale/subcharts/headplane/Chart.yaml
  k8s/helm/headscale/subcharts/headplane/templates/NOTES.txt
  k8s/helm/headscale/subcharts/headplane/templates/app.yaml
  k8s/helm/headscale/subcharts/headplane/templates/configmap.yaml
  k8s/helm/headscale/subcharts/headplane/templates/tests/test-connection.yaml
  k8s/helm/headscale/subcharts/headplane/values.yaml
  k8s/helm/headscale/templates/NOTES.txt
  k8s/helm/headscale/templates/app.yaml
  k8s/helm/headscale/templates/tests/test-connection.yaml
  k8s/helm/headscale/values.yaml
  k8s/helm/instances/restic-remote
Due: none

SYS-697 replace minio with garage for restic S3 destination
  .gitignore
  services/Makefile
  services/garage/docker-compose.yml
  services/minio/docker-compose.yml
Due: none

SYS-697 replace minio with garage for restic S3 destination (#294)
  .gitignore
  services/Makefile
  services/garage/docker-compose.yml
  services/minio/docker-compose.yml
Due: none

SYS-685 finalize network and monitoring settings for tailscale
  README.md
  ansible/roles/monitoring_agent/handlers/main.yml
  ansible/roles/monitoring_agent/tasks/main.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/handlers/main.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/network/tasks/tailscale.yml
  k8s/helm/headscale/values.yaml
Due: none

SYS-685 finalize network and monitoring settings for tailscale (#295)
  README.md
  ansible/roles/monitoring_agent/handlers/main.yml
  ansible/roles/monitoring_agent/tasks/main.yml
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/handlers/main.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/network/tasks/tailscale.yml
  k8s/helm/headscale/values.yaml
Due: none

SYS-652 stop the prometheus deluge from node-exporter
  README.md
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/monitoring_agent/handlers/main.yml
  ansible/roles/monitoring_agent/tasks/main.yml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/values.yaml
Due: none

SYS-652 stop the prometheus deluge from node-exporter (#296)
  README.md
  ansible/roles/monitoring_agent/defaults/main.yml
  ansible/roles/monitoring_agent/handlers/main.yml
  ansible/roles/monitoring_agent/tasks/main.yml
  k8s/helm/grafana/Chart.yaml
  k8s/helm/grafana/values.yaml
Due: none

SYS-696 wip
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  images/blacklist/hooks/add_tags
  images/data-sync/hooks/add_tags
  images/ddclient/hooks/add_tags
  images/dhcpd-dns-pxe/hooks/add_tags
  images/dovecot/hooks/add_tags
  images/ez-ipupdate/hooks/add_tags
  images/git-dump/hooks/add_tags
  images/git-pull/hooks/add_tags
  images/haproxy-keepalived/hooks/add_tags
  images/mariadb-galera/hooks/add_tags
  images/mysqldump/hooks/add_tags
  images/mythtv-backend/hooks/add_tags
  images/nagios/hooks/add_tags
  images/nagiosql/hooks/add_tags
  images/nut-upsd/hooks/add_tags
  images/openldap/hooks/add_tags
  images/postfix-python/hooks/add_tags
  images/postfix/hooks/add_tags
  images/proftpd/hooks/add_tags
  images/rsyslogd/hooks/add_tags
  images/samba-dc/hooks/add_tags
  images/samba/hooks/add_tags
  images/spamassassin/hooks/add_tags
  images/udp-nginx-proxy/hooks/add_tags
  images/vsftpd/hooks/add_tags
  images/weewx/hooks/add_tags
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-696 wip
  .image-gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-696 wip
  lib/build/Makefile.docker_image
Due: none

SYS-696_update_cleanup
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  images/data-sync/helm/Chart.yaml
  images/data-sync/helm/values.yaml
  images/dovecot/helm/Chart.yaml
  images/git-pull/add_tags
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/spamassassin/Dockerfile
  images/spamassassin/helm/Chart.yaml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-696 wip
  .gitlab-ci.yml
Due: none

SYS-696 wip
  .gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: none

SYS-696 wip
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-696 wip
  .gitlab-ci.yml
  .image-gitlab-ci.yml
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-696 cleanup after recent updates (#298)
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  images/data-sync/helm/Chart.yaml
  images/data-sync/helm/values.yaml
  images/dovecot/helm/Chart.yaml
  images/git-pull/add_tags
  images/mythtv-backend/helm/Chart.yaml
  images/postfix-python/helm/Chart.yaml
  images/proftpd/Dockerfile
  images/proftpd/helm/Chart.yaml
  images/spamassassin/Dockerfile
  images/spamassassin/helm/Chart.yaml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-696 second try with the image README update script
  lib/build/Makefile.docker_image
Due: none

SYS-696 second try with the image README update script (#299)
  lib/build/Makefile.docker_image
Due: none

SYS-696 docker hub readme
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-696 wip
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  lib/build/Makefile.docker_image
Due: blacklist, data-sync, ddclient, dhcpd-dns-pxe, dovecot, ez-ipupdate, git-pull, haproxy-keepalived, mariadb-galera, mysqldump, mythtv-backend, nagios, nagiosql, nut-upsd, postfix, openldap, postfix-python, proftpd, rsyslogd, samba, samba-dc, spamassassin, udp-nginx-proxy, vsftpd, weewx

SYS-696 syntax issues in #299 promote_image task (#300)
  lib/build/Makefile.docker_image
Due: none

SYS-696 trigger four more image builds
  images/blacklist/Dockerfile
  images/git-pull/Dockerfile
  images/proftpd/Dockerfile
  images/spamassassin/Dockerfile
Due: blacklist, git-pull, proftpd, spamassassin

SYS-696 trigger four more image builds (#301)
  images/blacklist/Dockerfile
  images/git-pull/Dockerfile
  images/proftpd/Dockerfile
  images/spamassassin/Dockerfile
Due: blacklist, git-pull, proftpd, spamassassin

SYS-699 add lightweight msmtp agent; add BIND_IP option for garage
  ansible/roles/network/defaults/main.yml
  ansible/roles/network/tasks/main.yml
  ansible/roles/network/tasks/msmtp.yml
  images/data-sync/helm/values.yaml
  k8s/helm/grafana/values.yaml
  services/garage/docker-compose.yml
Due: none

SYS-699 wip
  k8s/Makefile
  k8s/Makefile.vars
  k8s/helm/headscale/values.yaml
  k8s/install/rsyslog-ext.yaml
Due: none

Path conditions:
  blacklist: any of: images/blacklist/**, lib/**, .image-gitlab-ci.yml
  data-sync: any of: images/data-sync/**, lib/**, .image-gitlab-ci.yml
  ddclient: any of: images/ddclient/**, lib/**, .image-gitlab-ci.yml
  dhcpd-dns-pxe: any of: images/dhcpd-dns-pxe/**, lib/**, .image-gitlab-ci.yml
  dovecot: any of: images/dovecot/**, lib/**, .image-gitlab-ci.yml
  ez-ipupdate: any of: images/ez-ipupdate/**, lib/**, .image-gitlab-ci.yml
  git-pull: any of: images/git-pull/**, lib/**, .image-gitlab-ci.yml
  haproxy-keepalived: any of: images/haproxy-keepalived/**, lib/**, .image-gitlab-ci.yml
  mariadb-galera: any of: images/mariadb-galera/**, lib/**, .image-gitlab-ci.yml
  mysqldump: any of: images/mysqldump/**, lib/**, .image-gitlab-ci.yml
  mythtv-backend: any of: images/mythtv-backend/**, lib/**, .image-gitlab-ci.yml
  nagios: any of: images/nagios/**, lib/**, .image-gitlab-ci.yml
  nagiosql: any of: images/nagiosql/**, lib/**, .image-gitlab-ci.yml
  nut-upsd: any of: images/nut-upsd/**, lib/**, .image-gitlab-ci.yml
  postfix: any of: images/postfix/**, lib/**, .image-gitlab-ci.yml
  openldap: any of: images/openldap/**, lib/**, .image-gitlab-ci.yml
  postfix-python: any of: images/postfix-python/**, lib/**, .image-gitlab-ci.yml
  proftpd: any of: images/proftpd/**, lib/**, .image-gitlab-ci.yml
  rsyslogd: any of: images/rsyslogd/**, lib/**, .image-gitlab-ci.yml
  samba: any of: images/samba/**, lib/**, .image-gitlab-ci.yml
  samba-dc: any of: images/samba-dc/**, lib/**, .image-gitlab-ci.yml
  spamassassin: any of: images/spamassassin/**, lib/**, .image-gitlab-ci.yml
  udp-nginx-proxy: any of: images/udp-nginx-proxy/**, lib/**, .image-gitlab-ci.yml
  vsftpd: any of: images/vsftpd/**, lib/**, .image-gitlab-ci.yml
  weewx: any of: images/weewx/**, lib/**, .image-gitlab-ci.yml
